<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Diseño Store</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section><h3>Ejemplo promo 50% descuento en envíos</h3></section>
    <nav><ul>
        <li><a href=""><i class= "fa fa-bars"></i></a></li>
        <li><a href=""><i class= "fa fa-search"></i></a></li>
        <li><a href=""><i class= "fa fa-cart"></i></a></li>
        <li><a href="">INICIAR SESIÓN</a></li>
    </ul>
    </nav>
    <header><img src="/fullDiseno/sprint2/public/img/img-header.jpg" alt=""></header>
    <main>
        <section class="featuredProducts">
            <ul>
                <li class="producto"><a href=""><img src="../public/img/fullOutfit.jpg" alt=""></a></li>
                <li class="producto"><a href=""><img src="../public/img/sueterVerde.jpg" alt=""></a></li>
                <li class="producto"><a href=""><img src="../public/img/overollStyle.jpg" alt=""></a></li>
                <li class="producto"><a href=""><img src="../public/img/abrigoNegro.jpg" alt=""></a></li>
                <li class="producto"><a href=""><img src="../public/img/sueterBlanco.jpg" alt=""></a></li>
                <li class="producto"><a href=""><img src="../public/img/camisa.jpg" alt=""></a></li>
            </ul>
        </section>
        <section class="informacionExtra">
            
        </section>
    </main>
</body>
</html>