<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Diseño Store</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header>
        <div class="promo">
            <h3>Ejemplo promo 50% descuento en envíos</h3>
        </div>
        <div class="imagen">
            <nav>
            <ul>
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                <li><a href="#">Iniciar sesión</a></li>
            </ul>
        </nav>
        <img class="img-header" src="../public/img/img-header.jpg" alt="banner ropa unisex">
        </div>
        
    </header>

    <main class="productosIndex">
            <a href="#"> <img src="../public/img/fullOutfit.jpg" alt="fullOutfit"></a>
            <a href="#"> <img src="../public/img/sueterVerde.jpg" alt="sueterVerde"></a>
            <a href="#"> <img src="../public/img/overollStyle.jpg" alt="fullOutfit-2"></a>
            <a href="#"> <img src="../public/img/abrigoNegro.JPG" alt="abrigoNegro"></a>
            <a href="#"> <img src="../public/img/sueterBlanco.jpg" alt="buzoblanco"></a>
            <a href="#"> <img src="../public/img/camisa.jpg" alt="camisaJean"></a>
    </main>

    <footer>
            <section class="footerWhite">
            <hr>
            <div class="informacion">
             <div class="cuotas"><i class="fa fa-credit-card"></i><h2>Hasta 18 cuotas sin interés</h2></div>
             <div class="consultas"><i class="fa fa-whatsapp"></i><h2>Consultas</h2></div>
             <div class="cambios"><i class="fa fa-retweet"></i><h2>Tienes 30 días para cambios</h2></div>
              <div class="redes"><i class="fa fa-facebook"></i><i class="fa fa-instagram"></i><h2>Seguinos en redes</h2></div>   
            </div>
            <hr>
        </section>
        
        <section class="footerBlack">
            <img src="../public/img/img-logo.svg" alt="logo de la marca">
            <div class="iconosFooter">
                <ul class="whiteIcons">
                    <li><h3>Términos y Condiciones</h3></li>
                    <li><h3>FAQs</h3></li>
                    <li><i class="fa fa-whatsapp"></i></li>
                    <li><i class="fa fa-instagram"></i></li>
                    <li><i class="fa fa-facebook"></i></li>
                </ul>
            </div>
        </section>
    </footer>
    
</body>

</html>