<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Diseño Store</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <main class="main-login">
        <header>
            <h1>Iniciar Sesión</h1>
        </header>
        <section>
            <div>
                <label for="text">Correo Electrónico</label>
                <input type="text" placeholder="Ingresa tu correo electrónico"></input>
            </div>
            <br>
            <div>
                <label for="text">Contraseña</label>
                <input type="text" placeholder="Ingresa tu contraseña"></input>
            </div>
            <h4>¿Olvidaste tu contraseña?</h4>
            <br>
            <button>Iniciar Sesión</button>
        </section>
        <hr class="hr-login">
        <section>
            <h2>¿Todavía no tienes cuenta?</h2>
            <button>Crear una cuenta</button>
        </section>
    </main>

</body>

</html>