<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Diseño Store</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header>
        <div class="promo">
            <h3>Ejemplo promo 50% descuento en envíos</h3>
        </div>
        <a href="#">
            <img class="logoFondoBlanco" src="../public/img/img-logo.svg" alt="">
        </a>
        <nav>
            <ul>
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                <li><a href="#">Iniciar sesión</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <section class="imagenes">
            <img src="../public/img/sueterVerde-2.JPG" alt="" class="seleccionada">
            <div class="imagenesPeque">
                <img src="../public/img/sueterVerde-3.JPG" alt="">
                <img src="../public/img/sueterVerde-4.JPG" alt="">
                <img src="../public/img/sueterVerde-5.JPG" alt="">
                <img src="../public/img/sueterVerde-6.JPG" alt="">
            </div>
        </section>
        <section class="infoProducto">
            <div class="tituloPrecio">
                <h1>Buzo Verde</h1>
                <h4>$768</h4>
            </div>
            <div class="colores">
                <h2>Colores</h2>
                <button type="button" class=colorProducto>Verde Militar</buttom>
            </div>
            <div class="descripcion">
                <h2>Descripción</h2>
                <p>Buzo canguro con capucha. Combina su toque con detalles deportivos cómo sus mangas largas que te
                    permiten mover los brazos libremente sin restricciones de movilidad. Cuenta con pasa pulgar en el
                    puño para cubrir muñecas.</p>
            </div>
            <div>
                <select name="talle" type="Seleccionar un Talle">
                    <option disabled selected>Seleccioná un Talle</option>
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                </select>
                <button type="submit" class="agregarCarrito"><i class="fa fa-shopping-cart"></i>Agregar al
                    carrito</button>
            </div>
            <a  href="#" class="guiaTalles">Guía de Talles</a>
        </section>
    </main>
    <section>
        <h1>Productos Similares</h1>
        <div class="imgProdSimilar">
            <img src="../public/img/coupleHeader.JPG" alt="pareja con sueter blanco">
            <img src="../public/img/fullOutfit-2.jpg" alt="pareja con overall">
            <img src="../public/img/camisaJean-3.JPG" alt="pareja agachada con camisa blanca y jean">
        </div>
    </section>

    <footer>
        <hr>
        <section class="footerWhite">
            <div class="cuotas"><i class="fa fa-credit-card"></i>
                <h2>Hasta 18 cuotas sin interés</h2>
            </div>
            <div class="consultas"><i class="fa fa-whatsapp"></i>
                <h2>Consultas</h2>
            </div>
            <div class="cambios"><i class="fa fa-retweet"></i>
                <h2>Tienes 30 días para cambios</h2>
            </div>
            <div class="redes"><i class="fa fa-facebook"></i><i class="fa fa-instagram"></i>
                <h2>Seguinos en redes</h2>
            </div>
        </section>
        <hr>
        <section class="footerBlack">
            <img src="../public/img/img-logo.svg" alt="logo de la marca">
            <div>
                <ul class="white">
                    <li>
                        <h3>Términos y Condiciones</h3>
                    </li>
                    <li>
                        <h3>FAQs</h3>
                    </li>
                    <li><i class="fa fa-whatsapp"></i></li>
                    <li><i class="fa fa-instagram"></i></li>
                    <li><i class="fa fa-facebook"></i></li>
                </ul>
            </div>
        </section>
    </footer>


</body>