<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Diseño Store</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header>
        <div class="promo">
            <h3>Ejemplo promo 50% descuento en envíos</h3>
        </div>
        <div class="imagen">
            <nav>
                <ul>
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                    <li><a href="#">Iniciar sesión</a></li>
                </ul>
        
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="izquierda">
            <section class="table-titulo">
                <div class="tituloArticulo">
                    <h2>Articulo</h2>
                </div>
                <div class="tituloCantidad">
                    <h2>Cantidad</h2>
                </div>
                <div class="tituloPrecio">
                    <h2>Precio</h2>
                </div>
                <div class="tituloBorrar">
                    <h2>Borrar</h2>
                </div>
            </section>
            <hr>
            <section class="producto-elegido">

                <img src="../public/img/sueterVerde-2.png" alt="">
                <div class="nombre-producto">
                    <h2>Buzo Verde</h2>
                    <h2>Color: verde militar</h2>
                </div>
                <h2 class="precio">$768.00</h2>
                <a class="carritoEnCart" href="#"><i class="fa fa-trash"></i></a>

            </section>
            <hr>
            <!--<article class="producto-elegido">
                <ul>
                    <li>Articulos</li>
                    <li>Catidad</li>
                    <li>Precio</li>
                    <li>Borrar</li>
                </ul>
                <hr>
                <img src="/public/img/sueterVerde-3.JPG" alt="">
                <h2>Buzo Verde</h2>
                <h2>Color: verde militar</h2>
                <button></button>
                <h2>$768.00</h2>
                <i class="fa fa-trash"></i>
                <br>
            </article>-->
            <h2 class="agrega-nosequeponer">Agregá a tu carrito</h2>
            <hr>
            <section>
                <article class="agregar-elemento1">
                    <br>
                    <img src="../public/img/coupleHeader-1.jpg" alt="">
                    <div>
                        <h2>Buzo Blanco</h2>
                        <h2>Color: Blanco</h2>
                    </div>
                    <h2>$768.00</h2>
                    <button type="text">Agregar</button>
                </article>
                <article class="agregar-elemento2">
                    <br>
                    <img src="../public/img/camisaJean-1.jpg" alt="">
                    <div>
                        <h2>Camisa Blanca</h2>
                        <h2>Color: Blanco</h2>
                    </div>
                    <h2>$768.00</h2>
                    <button type="text">Agregar</button>
                </article>
                <article>
                    <article class="agregar-elemento3">
                        <img src="../public/img/fullOutfit-1.jpg" alt="">
                        <div>
                            <h2>Overal</h2>
                            <h2>Color: Jean</h2>
                        </div>
                        <h2>$768.00</h2>
                        <button type="text">Agregar</button>
                    </article>
            </section>
            <section class="footerWhite">
                <div class="cuotas"><i class="fa fa-credit-card"></i>
                    <h2>Hasta 18 cuotas sin interés</h2>
                </div>
                <div class="consultas"><i class="fa fa-whatsapp"></i>
                    <h2>Consultas</h2>
                </div>
                <div class="cambios"><i class="fa fa-retweet"></i>
                    <h2>Tienes 30 días para cambios</h2>
                </div>
            </section>

        </div>
        <div class="derecha">
            <article>
                <h2>Cupón de descuento</h2>
                <input type="text" placeholder="Inserte código"></input>
                <button type="submit">Aplicar</button>
            </article>
            <article>
                <h2>Tipo de envío</h2>
                <select type="Seleccionar el tipo de envío" name="Envío" id="">
                    <option disabled selected>Seleccionar el tipo de envío</option>
                    <option value="T">Retirar en tienda</option>
                    <option value="D">Envío a domicilio</option>
                </select>
            </article>
            <article>
                <ul>
                    <li>Subtotal</li>
                    <li>Descuento</li>
                    <li>Envío</li>
                    <li>I.V.A.</li>
                </ul>
                <br>
                <h2>Total</h2>
            </article>

        </div>
    </div>
    <footer>
        <section class="footerBlack">
            <img src="../public/img/img-logo.svg" alt="logo de la marca">
            <div class="iconosFooter">
                <ul class="white">
                    <li>
                        <h3>Términos y Condiciones</h3>
                    </li>
                    <li>
                        <h3>FAQs</h3>
                    </li>
                    <li><i class="fa fa-whatsapp"></i></li>
                    <li><i class="fa fa-instagram"></i></li>
                    <li><i class="fa fa-facebook"></i></li>
                </ul>
            </div>
        </section>
    </footer>
</body>

</html>