*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================
      TIPOGRAFIAS
===================== */

h1 {
    font-family: Goldman;
    font-size: 29px;
    font-weight: normal;
}

h2 {
    font-family: Goldman;
    font-size: 16px;
    font-weight: normal;
}

h3 {
    font-family: Goldman;
    font-size: 14px;
    font-weight: normal;
}

h4 {
    font-family: Roboto;
    font-size: 11px;
}

p {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    color: #373737;
}

a {
    font-family: Goldman;
    font-weight: normal;
    font-size: 14px;
    color:black;
    text-decoration: none;
    
}

button{
    outline:none !important;
outline-width: 0 !important;
/* box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none; */
}

.errors{
    color: red;
    font-family: Roboto;
    font-size: 12px;
    text-align: center;
    list-style: none;

}

.errores{
    color: red;
    font-family: Roboto;
    font-size: 10px;
    text-align: center;
    list-style: none;

}

/* ======================
       HEADERINDEX
===================== */ 

.index {
    display:flex;
    overflow: hidden;
    justify-content: flex-end;
    z-index: 1; 
}

.index ul {
    display: flex;
    list-style: none;
    color: black;
    
    text-decoration: none;
    list-style: none; 
    position: absolute;
    padding: 17px;
    z-index: 1;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: 1.75em;
    vertical-align: -.0667em;
}

 /* ANIMACION VENTANA MODAL */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  

.index ul li a i {
    padding: 0px 12px;
    transition: all 2ms;
    font-size: 18px;
}

.index ul li a i:hover{
    cursor: pointer;
    color: rgba(20, 130, 128, 0.583);
}

.index ul li button i:hover{
    cursor: pointer;
    color: rgba(20, 130, 128, 0.583);
}


.index ul li a{
    transition: all 2ms;
}

.index ul li a:hover{
    cursor: pointer;
    transform: scale(1.1); 
}

.search{
    background-color: transparent;
    padding: 5px;

}

.label{
    padding: 9px;
    padding-left: 20px;
}

.index ul input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.fixed{
    display:flex;
    justify-content: flex-end;
    z-index: 1; 
    color: white;
    position: absolute;
    font-size: 20px;
    bottom: 0;
    left: 50%;
}

.fixed h4{
    display:flex;
    justify-content: flex-end;
    z-index: 1; 
    color: white;
    position: absolute;
    font-size: 14px;
    bottom: 48px;
    left: 7%;
}


.img-header {
    position: relative;
    width: 100%; 
    z-index: 0;
    box-shadow: -3px 7px 16px -2px rgba(194,186,186,0.93);
   
}

.novedades{
    text-align: center;
    margin-top: 30px;
}



/* ======================
        NAV BAR INDEX
===================== */

.formSearch{
    display: flex;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding: 60px;
  }

.button-search input{
    display: none;
    background-color: transparent;
    border-radius: 22px;
    padding: 5px;
}

.button-search, input[type=text]{
    font-family: Roboto;
    margin-right: 5px;
    margin-left: 5px;
 
  }

.button-search, input::placeholder{
    color:black;
    font-size: 16px;
    padding-bottom: 5px;
}


.icono-search, button{
    background-color: transparent;
    border: transparent;
    
}

.icono-search, button:hover{
    cursor: pointer;
}





/* ======================
        HEADER General
===================== */

.productos{
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 2vw;
    z-index: 1;
}

.p{
    
    font-family: 'Goldman';
    font-size: 10px;
    font-weight: 100;
}

.p:hover{
    cursor: pointer;
    color: rgba(20, 130, 128, 0.583);
}

.hanger{
    display: inline-block;
    object-fit: contain;
    width: 75px;
    height: 64px;
}

.hanger:hover{
    cursor: pointer;
    color: rgba(20, 130, 128, 0.583);
}







.fondoBlancoHeader {
    display:flex;
    flex-direction: column;
    width: 100%;
    top: 0;
}

.promo{
    
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 8px 0px;
    padding-left: 60px;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 2px;
}

.ocultar{
    display: none;
}

.menuFondoBlanco {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    background-color:white;
    justify-content: flex-end;
}

.navFondoBlanco {
    width: 100%;    
}

.navFondoBlanco ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    
    
    text-decoration: none;
    list-style: none; 
    padding-left: 15px;
}

.navFondoBlanco ul li{
    padding-left: 15px; 
    

}
.navFondoBlanco ul li a i:hover{
    cursor: pointer;
    color: rgba(20, 130, 128, 0.583);
}


.navFondoBlanco ul input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}




/* ======================
         MAIN
===================== */


.productosIndex {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productosIndex article{
    position: relative;
    margin-bottom: 20px;
    background: rgb(173 168 168 / 70%);
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    -webkit-box-shadow: -2px -1px 10px 0px #616161;
    border-radius: 10px;
}

.productosIndex article .nombre-precio {
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: all 450ms;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.productosIndex article .nombre-precio p{
    color:white;
}



.productosIndex article .nombre-precio:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    
}

.fa-heart{
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 320px;
    right: 0;
    font-size: 20px;
    
}

.nuevo{
    position: absolute;
    top: 17px;
    bottom: 0;
    left: 268px;
    right: 0;
    font-size: 14px;
}



 

/* ======================
         FOOTER
===================== */ 


.footerWhite {
    display: flex;
    flex-direction: column;
    margin: -20px 20px 20px 20px;
}

hr {
    height: 0.5px;
    border-style: none;
    background-color: #373737;
    margin-top: 11px;
}

.informacion {
    display:flex;
    padding: 14px 50px;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    font-size: 13px;
    text-align: center; 
    margin-bottom: 10px;
    transition: all .2s;
}

.redes:hover{
    transform: scale(1.1);
    cursor: pointer;

}

.informacion i {
    font-size: 42px;
    margin: 13px;
    
}

.footerBlack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;    
    padding: 0 20px;
  
}



.newsletter{
    color: white;
    background-color: transparent;
    border-bottom: white;
    font-variant: all-petite-caps;
}

.newsletterInput{
    color: white;
    background-color: transparent;
    margin: 0;
    text-align: center;
    padding: 0;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-color: white;
    font-variant: all-petite-caps;
    letter-spacing: 11px;
}

.whiteIcons li{
    display: flex;
    list-style: none;
    text-align: center;
    margin-left: 15px;
}

.whiteIcons {
    display: flex;
    list-style: none;  
}

.iconosFooter {
    display: flex;
    justify-content: flex-end;
}




/* ======================
    PRODUCT DETAIL
===================== */

.productDetail {
    display: flex;
    margin: 30px;
    }

.imagenes {
    display: flex;
    
    margin-left: 40px;
}

.imagenesPeque{
    display: flex;
    flex-direction: column; 
}

.imagenesPeque img{
    margin-bottom: 15px;
    margin-left:15px;
}

.infoProducto{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    height: 504px;
}

.tituloPrecio h4{
    font-family: Roboto;
    font-size: 26px;
    font-weight: normal;
}

.colores{
    margin-top: 30px;
}

.colorProducto{
    border: 2px solid black ;
    padding: 10px 0px ;
    margin-top: 10px;
    width: 186px;
    text-align: center;
}

.colorPorudcto:hover{
    cursor: pointer;
    
}

.line ul{
    display: flex;
}

.line ul li{
    font-family: "Roboto";
    margin: 2px;
    text-decoration: none;
    list-style: none;
}

.line ul li a{
    color: #8a9296;
}

.line ul li a:hover{
    color: #1f949d;
}

.line ul span{
    margin: 5px;
    color: #8a9296;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }





.descripcion p{
    margin-bottom: 30px;
    width: 606px;
}

.selAgregar {
    display: flex;
    flex-direction: row;
}

select {
    font-family: Roboto;
    font-size: 16px;
    margin: 0px 20px 20px 0px;
    padding: 10px 20px;
    border: 1.5px solid #717171;
    border-radius: 5px;
    color: #717171;
    height: 50px;
}
.agregarCarrito {
    display: flex;
    margin-top: 9px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #00636C;
    color: white;
    width: 258px;
    height: 50px;
}

.agregarCarrito:hover{
    cursor: pointer;
    background-color: #048591;
}

.contenidoAgregarCarrito {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.agregarCarrito i{
    margin-right: 10px;
}

.productosSimilares {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
    margin-left: 20px;
    
}

.imgProdSimilar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.similares{
    text-align: center;
    margin-top: 40px;
}

.editarborrar{
    display: flex;
}

/* ======================
      PRODUCT CART
===================== */

.shopCart {
    width: 100%;
    display: flex;
}


    
.productosEnCarrito {
    display:flex;
    flex-direction: column;
    flex-grow: 1;    
    margin-right: 20px; 
    margin-left: 20px;  
    width: 60%; 
}

.tablaTitulos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;   
}

.articulo {
    display: flex;
    width: 285px;
    justify-content: flex-start;
}

.cantidad {
    display: flex;
    width: 200px; 
    justify-content: flex-start;
}

.precio {
    display: flex;
    width: 200px;
    justify-content: flex-start;
    
   
}

.borrar {
    display: flex;
    min-width: 129px;
    justify-content: flex-end;
    width: 129px;

}

.sugeridosAgregar {
    display: flex;
    flex-direction: column;
}

.tablaProductos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.descProdCarrito {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nomColCarrito{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.selCantidad {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #707070;
    align-items: center;
    width: 200px;
    max-height: 50px;
}

.remover {
    display: flex;
    justify-content: center;
    color: #00636C;
    max-width: 50px;
}

.vl { 
    display: flex;
    width: 1px;
    background-color: #707070;
    height: 50px;
}

.totalProds {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.sumar {
    display: flex;
    justify-content: center;
    color: #00636C;
    max-width: 50px;
}

.tablaProductos .borrar {
    font-size: 20px;
    color: #00636C;
    padding-right: 20px;
}

.sugeridosAgregar {
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.tituloAgregar h2 {
    margin-bottom: 20px;
}

.derecha {
    width: 25%;
    display: flex;
    flex-direction: column;
  
    
}

.hola{
    display: flex;
}

.hola input{
    padding: 10px 0px;
    border-radius: 3px;
}

.hola input::placeholder{
    color: #928f8f;
font-size: 12px;
text-align: center;
}

.descuentos ul li{
    list-style: none;
}

.agregar-elemento1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.agregar{
    
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
}

.agregar:hover{
        cursor: pointer;
        background-color: #048591;

}



.agregar-elemento2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }

.agregar-elemento3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }


/* ===============================
    FORMULARIOS LOGIN Y REGISTER
============================== */

div .all{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
}
.cruz{
    display: flex;
    justify-content: flex-end;
      
    padding: 10px; 
}

.fa-times {
    transition: all 300ms;
    cursor: pointer;
}

.fa-times:hover{
    transition: all 300ms;
    transform: rotate(-90deg);
}

.h1{
    text-align: center;
    margin: 20px;
    
}


.formularioIS{
    
    background-color: white;
    
    font-family: Goldman;
    text-align: center;
       
}


.formularioIS input{
    position: relative;
    padding: 10px 40px;
    border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: .5px;
  border: 0;
  border-bottom: 2px solid #f0f0f0;
  background-color: white;
  padding-left: 40px;
  
 }
 .formularioIS input:valid {
    border-color: #31e1cf;
 }
 .formularioIS input:focus {
    outline: none;
    
 }

 .icon{
    position: absolute;
    z-index: 1;
    padding-top: 11px;
    
 }
    


.formularioIS input::placeholder{
    
    color: #928f8f;
font-size: 12px;
text-align: center;
    
    
}

.label{
   
    font-family: Goldman;
    
    
}

.IS{
    text-align: center;
}

.IS h2{
    margin: 10px;
    font-family: Goldman;
    text-align: center;
}

.IS button{
    margin: 20px;
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.bot{
    margin: 20px;
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.bot:hover{
    cursor: pointer;
        background-color: #048591;
}

.IS button:hover{
        cursor: pointer;
        background-color: #048591;

}

.IS h2{
    display: inline-block;
}

.crearCuenta{
    
    text-align: center;
    background-color: white;
    
    
}
.crearCuenta h2{
    text-align: center;
    font-family: Goldman;
    
}    

.crearCuenta a button{
    margin: 20px;
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

}

.crearCuenta a button:hover{
    cursor: pointer;
    background-color: #048591;

}

/* REGISTER */

.register{
    
    background-color: white;
   
    font-family: Goldman;
    text-align: center;
    text-align: center;
    
    
}


.formularioRegister input{
    
    position: relative;
    padding: 11px 40px;
    border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: .5px;
  border: 0;
  border-bottom: 2px solid #f0f0f0;
  background-color: #ffffff;
 
    
    
}

.formularioRegister input:valid {
    border-color: #31e1cf;
 }
 .formularioRegister input:focus {
    outline: none;
   
 }


.formularioRegister input::placeholder{
color: #928f8f;
font-size: 12px;
text-align: center;

}

.formularioRegister label{
    margin: 10px 60px;
    font-family: Goldman;
    
    
}

.register form button{
    margin: 20px;
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.register form button:hover{
    cursor: pointer;
        background-color: #048591;

}
/* ===============================
         PAGE NOT FOUND
============================== */

.error{
    width:100%;
}

/* ===============================
         admin
============================== */
.admin{
    justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.adminBoton{
    font-size: 19px;
    margin: .5em;
    padding: .5em;
    border-radius: 5px;
    transition: all .5s;
    filter: hue-rotate(0deg);
    color: #FFF;
    text-decoration: none;
    width: 260px;
}

.b-green, .b-green:before {
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(26,188,156,1)));
    background: -webkit-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    background: -o-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    background: linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1 );
  }

/* a .adminBoton{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
} */

.adminBoton:hover{
    cursor: pointer;
        background-color: #048591;

}

/* ===============================
         PERFIL USUARIO
============================== */
.profile{
    background-image:url("../img/profile.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
   
    width: 100%;
   height: 100%;
}

.caja1{
    display: flex;
   justify-content: center;
   margin: 75px;
}

.cajita{
    display: flex;
}

.caja2{
    
    background-color: #dde2e64f;;
    width: 600px;
  /*   min-height: 500px; */
    border-radius: 10px;
    
    
    align-items: center;
    box-shadow: 2px 10px 40px rgba(22,20,19,0.3);

}

.caja2 img{
    width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  /*  Margin top should be no more than 85px  */
  margin-top: -60px;
  border: 10px solid rgba(154, 154, 154, 0.45);
  margin-left: 20px;
}

.caja4{
    display: flex;
    justify-content: flex-end;
    font-family: Goldman;
    margin: 20px;
    
}

.caja3 p{
    font-family: Roboto;
    color: #239660;
    margin: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.profile-edit-btn {
    font-size: 12px;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}







/* ===============================
         AGREGAR PRODUCTO
============================== */



.agregarProducto{
    
    background-color: #eaeaea;  
    font-family: Goldman;
    text-align: center;
    text-align: center;
}





.agregarProducto input{
    padding: 5px 76px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.agregarProductodesc input{
    padding: 27px 76px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.agregarProducto input::placeholder{
    color: #928f8f;
    font-size: 12px;
    text-align: center;
    
    }

.agregarProducto .label{
        margin: 10px 60px;
        font-family: Goldman;
        
        
    }

    .prev{

    }

    .previousRound{
        border-radius: 50%;
        background-color: #00636C;
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 10px 16px;
        margin: 11px;
    }

    .nextRound{
        border-radius: 50%;
        background-color: #00636C;
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 10px 16px;
        margin: 11px;
    }


    /* ===============================
        ALL products
============================== */

 .allproducts{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .banner {
    color: white;
    background: url("/img/unisex5.jpg") center top/cover no-repeat;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.21);
      -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.21);
      -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.21);
      
      margin-bottom: 15px;
    
  }

 


 .allproducts article{
    margin: 20px;
    position: relative;
    text-align: center;
    background: rgb(173 168 168 / 70%);
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    -webkit-box-shadow: -2px -1px 10px 0px #616161;
    
    border-radius: 10px;
 }

 .price{
    position: absolute;
   
    background: #383e44;
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fafb), color-stop(100%,#8caac3));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #616161;
    border: 1px solid #9ad6f8;
    border-radius: 10px;
    top: 239px;
    left: 101px;
    opacity: 91%;
    width: 130px;
    height: 64px;
    margin: 10px;
    padding: 2px;
 }

 img{
    border-radius: 10px; 
    
 }



  





/* ===============================
         MEDIA QUERIES
============================== */


@media(max-width: 1200px) {

    .productDetail{
        display: inline-block;
    }
    .imagenes {
        display: inline-flex;
        margin-left: 0px;
    }

   
  
    .fixed{
        display: none;
    }
  
    .fixed h4{
        display: none;
    }
  }
  
  
  @media(max-width: 910px) {
    .fixed{
        display: none;
    }
  
      h3{
          font-size: 11px;
      }
  
      h2{
          font-size: 15px;
      }
        
      .index ul input{
          font-size: 8px;
          
     }
  
     
  
     .formularioIS input {
      margin: 10px 0px;
      padding: 11px 21px;
      border-radius: 3px;
  }
  
     
  }
  
@media(max-width: 813px) {
  
      h2{
          font-size: 13px;
      }
  
      .fixed{
          bottom: 151px;
      }
  
      .footerBlack{
          height: 82px;
  
      }
  
      
  }
  
  
@media(max-width: 802px){
    
      
      .footerWhite{
          margin: -20px 10px 10px 11px;
  }
  .p {
    font-size: 9px;
    font-weight: 200;
}
}
  
  
@media(max-width: 782px){

          
  
          .productosIndex article{
              margin-bottom: 1px;
          }
  
          hr{
              display: none;
          }
  
          .footerWhite {
              margin: -11px -2px -5px -19px;
          }
          .footerBlack img{
              display: none;
          }
          .p {
            font-size: 9px;
            font-weight: 200;
        }
  
      }


 @media(max-width: 660px){     
      .img-header{
          position:initial;
      }
  
      .informacion i {
          font-size: 31px;
          
      }
  
      .informacion{
          padding: 5px 18px;
          
          margin-bottom: 20px;
      }
  
      .promo{
          padding-left: 0px;
      }
  
      h3{
          font-size: 10px;
          letter-spacing: 1px;
      }
      .productos{
        margin-top: -6px;
        font-size: 0px;
        margin-left: 6px;
        width: 10%;
    }
  
      .index ul{
          padding: 2px;
          margin-top: 10px;
      }
      .fa{
          display: initial;
      }
  
      .whiteIcons {
          display: initial;
         
      }
  
      .whiteIcons li {
          display: initial;
      }
  
      .iconosFooter {
          display: flex;
          justify-content: flex-end;
      }
     
      h3 {
         
          margin-top: 0px;
      }
      .p{
        font-size: 8.5px;
      }
      
}

@media(max-width: 500px){
    .p{
        font-size: 6px;
    }
}

@media(max-width: 450px){
  
  .informacion {
      padding: 4px 36px;
  }

  .p{
      font-size: 6px;
  }
  
  .productos {
   margin-top: -4px;
   font-size: 0px;
   margin-left: 7px;
  
  }
  .display{
      display: none;
  }



.whiteIcons{
    display: none;
}

}