*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================
      TIPOGRAFIAS
===================== */

h1 {
    font-family: Goldman;
    font-size: 29px;
    font-weight: normal;
}

h2 {
    font-family: Goldman;
    font-size: 16px;
    font-weight: normal;
}

h3 {
    font-family: Goldman;
    font-size: 14px;
    font-weight: normal;
}

h4 {
    font-family: Roboto;
    font-size: 12px;
}

p {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    color: #373737;
}

a {
    font-family: Goldman;
    font-weight: normal;
    font-size: 14px;
    color:black;
    text-decoration: none;
}

.errors{
    color: red;
    font-family: Roboto;
    font-size: 12px;
    text-align: center;
    list-style: none;

}

.errores{
    color: red;
    font-family: Roboto;
    font-size: 12px;
    text-align: center;
    list-style: none;

}

/* ======================
       HEADERINDEX
===================== */ 

.index {
    display:flex;
    overflow: hidden;
    justify-content: flex-end;
    z-index: 1; 
}

.index ul {
    display: flex;
    list-style: none;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none; 
    position: absolute;
    padding: 17px;
    z-index: 1;
}

.index ul li{
    padding: 0px 5px;
    font-size: 10px;
   
}

.index ul li a i {
    transition: all 2ms;
}

.index ul li a i:hover{
    cursor: pointer;
    transform: scale(1.1); 
}

.index ul li a{
    transition: all 2ms;
}

.index ul li a:hover{
    cursor: pointer;
    transform: scale(1.1); 
}

.index ul input{
    background-color: transparent;
    border-radius: 3px;

}

.fixed{
    display:flex;
    justify-content: flex-end;
    z-index: 1; 
    color: white;
    position: absolute;
    font-size: 20px;
    bottom: 0;
    left: 50%;
}

.fixed h4{
    display:flex;
    justify-content: flex-end;
    z-index: 1; 
    color: white;
    position: absolute;
    font-size: 14px;
    bottom: 48px;
    left: 7%;
}


.img-header {
    position: relative;
    width: 100%; 
    z-index: 0;
   
}



/* ======================
        NAV BAR INDEX
===================== */

.formSearch{
    display: flex;
}

.button-search input{
    display: none;
}

.button-search, input[type=text]{
    font-family: Roboto;
    margin-right: 5px;
    margin-left: 5px;
 
  }

.button-search, input::placeholder{
    color:black;
    font-size: 16px;
    padding-bottom: 5px;
}


.icono-search, button{
    background-color: transparent;
    border: transparent;
    
}

.icono-search, button:hover{
    cursor: pointer;
}





/* ======================
        HEADER General
===================== */

.productos{
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 2vw;
    z-index: 1;
}

.p{
    display: inline-block; 
   
}

.hanger{
    display: inline-block;
}

.hanger:hover{
    cursor: pointer;
}







.fondoBlancoHeader {
    display:flex;
    flex-direction: column;
    width: 100%;
    top: 0;
}

.promo{
    
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px 0px;
    padding-left: 60px;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 2px;
}

.ocultar{
    display: none;
}

.menuFondoBlanco {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 20px;
    background-color:white;
    justify-content: flex-end;
}

.navFondoBlanco {
    width: 100%;    
}

.navFondoBlanco ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    color: #00636C;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none; 
    padding-left: 15px;
}

.navFondoBlanco ul li{
    padding-left: 15px;  
}




/* ======================
         MAIN
===================== */


.productosIndex {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productosIndex article{
    position: relative;
    margin-bottom: 20px;
    background: rgb(173 168 168 / 70%);
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    -webkit-box-shadow: -2px -1px 10px 0px #616161;
    border-radius: 10px;
}

.productosIndex article .nombre-precio {
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: all 450ms;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.productosIndex article .nombre-precio p{
    color:white;
}



.productosIndex article .nombre-precio:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    
}

.fa-heart{
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 320px;
    right: 0;
    font-size: 20px;
    
}

.nuevo{
    position: absolute;
    top: 17px;
    bottom: 0;
    left: 268px;
    right: 0;
    font-size: 14px;
}



 

/* ======================
         FOOTER
===================== */ 


.footerWhite {
    display: flex;
    flex-direction: column;
    margin: -20px 20px 20px 20px;
}

hr {
    height: 0.5px;
    border-style: none;
    background-color: #373737;
    margin-top: 11px;
}

.informacion {
    display:flex;
    padding: 14px 50px;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    font-size: 13px;
    text-align: center; 
    margin-bottom: 10px;
    transition: all .2s;
}

.redes:hover{
    transform: scale(1.1);
    cursor: pointer;

}

.informacion i {
    font-size: 42px;
    margin: 13px;
    
}

.footerBlack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;    
    padding: 0 20px;
  
}

.newsletter{
    color: white;
    background-color: transparent;
    border-bottom: white;
    font-variant: all-petite-caps;
}

.newsletterInput{
    color: white;
    background-color: transparent;
    margin: 0;
    text-align: center;
    padding: 0;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-color: white;
    font-variant: all-petite-caps;
    letter-spacing: 11px;
}

.whiteIcons li{
    display: flex;
    list-style: none;
    text-align: center;
    margin-left: 15px;
}

.whiteIcons {
    display: flex;
    list-style: none;  
}

.iconosFooter {
    display: flex;
    justify-content: flex-end;
}




/* ======================
    PRODUCT DETAIL
===================== */

.productDetail {
    display: flex;
    margin-left: 20px;
    }

.imagenes {
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
}

.imagenesPeque{
    display: flex;
    flex-direction: column; 
}

.imagenesPeque img{
    margin-bottom: 15px;
    margin-left:15px;
}

.infoProducto{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    height: 504px;
}

.tituloPrecio h4{
    font-family: Roboto;
    font-size: 36px;
    font-weight: normal;
}

.colores{
    margin-top: 30px;
}

.colorProducto{
    border: 2px solid black ;
    padding: 10px 0px ;
    margin-top: 10px;
    width: 186px;
    text-align: center;
}

.colorPorudcto:hover{
    cursor: pointer;
    
}



.descripcion p{
    margin-bottom: 30px;
    width: 606px;
}

.selAgregar {
    display: flex;
    flex-direction: row;
}

select {
    font-family: Roboto;
    font-size: 16px;
    margin: 0px 20px 20px 0px;
    padding: 10px 20px;
    border: 1.5px solid #717171;
    border-radius: 5px;
    color: #717171;
    height: 50px;
}
.agregarCarrito {
    display: flex;
    margin-top: 9px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #00636C;
    color: white;
    width: 258px;
    height: 50px;
}

.agregarCarrito:hover{
    cursor: pointer;
    background-color: #048591;
}

.contenidoAgregarCarrito {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.agregarCarrito i{
    margin-right: 10px;
}

.productosSimilares {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
    margin-left: 20px;
    
}

.imgProdSimilar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.similares{
    text-align: center;
    margin-top: 40px;
}

.editarborrar{
    display: flex;
}

/* ======================
      PRODUCT CART
===================== */

.shopCart {
    width: 100%;
    display: flex;
}


    
.productosEnCarrito {
    display:flex;
    flex-direction: column;
    flex-grow: 1;    
    margin-right: 20px; 
    margin-left: 20px;  
    width: 60%; 
}

.tablaTitulos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;   
}

.articulo {
    display: flex;
    width: 285px;
    justify-content: flex-start;
}

.cantidad {
    display: flex;
    width: 200px; 
    justify-content: flex-start;
}

.precio {
    display: flex;
    width: 200px;
    justify-content: flex-start;
    
   
}

.borrar {
    display: flex;
    min-width: 129px;
    justify-content: flex-end;
    width: 129px;

}

.sugeridosAgregar {
    display: flex;
    flex-direction: column;
}

.tablaProductos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.descProdCarrito {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nomColCarrito{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.selCantidad {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #707070;
    align-items: center;
    width: 200px;
    max-height: 50px;
}

.remover {
    display: flex;
    justify-content: center;
    color: #00636C;
    max-width: 50px;
}

.vl { 
    display: flex;
    width: 1px;
    background-color: #707070;
    height: 50px;
}

.totalProds {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.sumar {
    display: flex;
    justify-content: center;
    color: #00636C;
    max-width: 50px;
}

.tablaProductos .borrar {
    font-size: 20px;
    color: #00636C;
    padding-right: 20px;
}

.sugeridosAgregar {
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.tituloAgregar h2 {
    margin-bottom: 20px;
}

.derecha {
    width: 25%;
    display: flex;
    flex-direction: column;
  
    
}

.hola{
    display: flex;
}

.hola input{
    padding: 10px 0px;
    border-radius: 3px;
}

.hola input::placeholder{
    color: #928f8f;
font-size: 12px;
text-align: center;
}

.descuentos ul li{
    list-style: none;
}

.agregar-elemento1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.agregar{
    
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
}

.agregar:hover{
        cursor: pointer;
        background-color: #048591;

}



.agregar-elemento2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }

.agregar-elemento3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }


/* ===============================
    FORMULARIOS LOGIN Y REGISTER
============================== */

div .all{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
}
.cruz{
    display: flex;
    justify-content: flex-end;
      
    padding: 10px; 
}

.fa-times {
    transition: all 300ms;
    cursor: pointer;
}

.fa-times:hover{
    transition: all 300ms;
    transform: rotate(-90deg);
}

.h1{
    text-align: center;
    margin: 20px;
    
}


.formularioIS{
    
    background-color: #eaeaea;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    font-family: Goldman;
    text-align: center;
       
}


.formularioIS input{
    
    padding: 10px 40px;
    border-radius: 3px;
    
    
}

.formularioIS input::placeholder{
    
    color: #928f8f;
font-size: 12px;
text-align: center;
    
    
}

.label{
    margin: 10px 60px;
    font-family: Goldman;
    
    
}

.IS{
    text-align: center;
}

.IS h2{
    margin: 10px;
    font-family: Goldman;
    text-align: center;
}

.IS button{
    margin: 20px;
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
}

.IS button:hover{
        cursor: pointer;
        background-color: #048591;

}

.IS h2{
    display: inline-block;
}

.crearCuenta{
    
    text-align: center;
    background-color: #eaeaea;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.crearCuenta h2{
    text-align: center;
    font-family: Goldman;
    
}    

.crearCuenta a button{
    margin: 20px;
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
}

.crearCuenta a button:hover{
    cursor: pointer;
        background-color: #048591;

}

/* REGISTER */

.register{
    
    background-color: #eaeaea;
    border: 1px solid black;
    font-family: Goldman;
    text-align: center;
    text-align: center;
    
    
}


.formularioRegister input{
    
    padding: 5px 40px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    
    
}
.formularioRegister input::placeholder{
color: #928f8f;
font-size: 12px;
text-align: center;

}

.formularioRegister label{
    margin: 10px 60px;
    font-family: Goldman;
    
    
}

.register form button{
    margin: 20px;
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
}

.register form button:hover{
    cursor: pointer;
        background-color: #048591;

}
/* ===============================
         PAGE NOT FOUND
============================== */

.error{
    width:100%;
}

/* ===============================
         admin
============================== */
.admin{
    
    text-align: center;
    align-items: center;
}

a .adminBoton{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
}

.adminBoton:hover{
    cursor: pointer;
        background-color: #048591;

}

/* ===============================
         PERFIL USUARIO
============================== */

.caja1{
    display: flex;
   justify-content: center;
   margin: 50px;
}

.caja2 img{
    width: 100px;

}

.caja4{
    display: flex;
    justify-content: flex-end;
    
}







/* ===============================
         AGREGAR PRODUCTO
============================== */



.agregarProducto{
    
    background-color: #eaeaea;  
    font-family: Goldman;
    text-align: center;
    text-align: center;
}



.agregarform{
    border: 1px solid black;
}

.agregarProducto input{
    padding: 5px 76px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.agregarProductodesc input{
    padding: 27px 76px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.agregarProducto input::placeholder{
    color: #928f8f;
    font-size: 12px;
    text-align: center;
    
    }

.agregarProducto .label{
        margin: 10px 60px;
        font-family: Goldman;
        
        
    }


    /* ===============================
        ALL products
============================== */

 .allproducts{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .allproducts article{
    margin: 20px;
    position: relative;
    text-align: center;
    background: rgb(173 168 168 / 70%);
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    -webkit-box-shadow: -2px -1px 10px 0px #616161;
    
    border-radius: 10px;
 }

 .price{
    position: absolute;
   
    background: #383e44;
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fafb), color-stop(100%,#8caac3));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #616161;
    border: 1px solid #9ad6f8;
    border-radius: 10px;
    top: 239px;
    left: 101px;
    opacity: 91%;
    width: 130px;
    height: 64px;
    margin: 10px;
    padding: 2px;
 }

 img{
    border-radius: 10px; 
    
 }



  





/* ===============================
         MEDIA QUERIES
============================== */


@media(max-width: 1200px) {

    .index ul input{
         font-size: 11px;
         padding-top: 3px;
    }
  
    .fixed{
        display: none;
    }
  
    .fixed h4{
        display: none;
    }
  }
  
  
  @media(max-width: 910px) {
    .fixed{
        display: none;
    }
  
      h3{
          font-size: 11px;
      }
  
      h2{
          font-size: 15px;
      }
        
      .index ul input{
          font-size: 8px;
          padding-top: 5px;
     }
  
     .index ul li a{
         font-size: 12px;
     }
  
     .formularioIS input {
      margin: 10px 0px;
      padding: 11px 21px;
      border-radius: 3px;
  }
  
     
  }
  
@media(max-width: 813px) {
  
      h2{
          font-size: 13px;
      }
  
      .fixed{
          bottom: 151px;
      }
  
      .footerBlack{
          height: 82px;
  
      }
  
      
  }
  
  
@media(max-width: 802px){
    
      .productosIndex{
          margin: 5px;
      }
  
      .footerWhite{
          margin: -20px 10px 10px 11px;
  }
}
  
  
@media(max-width: 782px){

          .productosIndex{
              margin: 0px;
          }
  
          .productosIndex article{
              margin-bottom: 1px;
          }
  
          hr{
              display: none;
          }
  
          .footerWhite {
              margin: -11px -2px -5px -19px;
          }
          .footerBlack img{
              display: none;
          }
  
      }


 @media(max-width: 660px){     
      .img-header{
          position:initial;
      }
  
      .informacion i {
          font-size: 31px;
          
      }
  
      .informacion{
          padding: 5px 18px;
          
          margin-bottom: 20px;
      }
  
      .promo{
          padding-left: 0px;
      }
  
      h3{
          font-size: 10px;
          letter-spacing: 1px;
      }
      .productos{
        margin-top: -6px;
        font-size: 0px;
        margin-left: 6px;
    }
  
      .index ul{
          padding: 2px;
      }
      .fa{
          display: initial;
      }
  
      .whiteIcons {
          display: initial;
         
      }
  
      .whiteIcons li {
          display: initial;
      }
  
      .iconosFooter {
          display: flex;
          justify-content: flex-end;
      }
     
      h3 {
         
          margin-top: 0px;
      }
      
}

@media(max-width: 500px){
    h4{
        font-size: 9px;
    }
}

@media(max-width: 450px){
  
  .informacion {
      padding: 4px 36px;
  }

  h4{
      font-size: 6px;
  }
  
  .productos {
   margin-top: -4px;
   font-size: 0px;
   margin-left: 7px;
  
  }
  .display{
      display: none;
  }

  .index ul li a {
    font-size: 11px;
}

.whiteIcons{
    display: none;
}

}