*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: white;
}

.promo h3{
    background-color: black;
    color: white;
    font-family: Goldman;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 15px 0px;
    text-transform: uppercase;
}



nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

nav ul li a{
    color: #00636C;
    background-color: transparent;
    font-family: Goldman;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    
}

.img-header{
    width: 100%;
}

.main-container a img{
    width: 100%;
    
}

.footerwhite{
    display: flex;
    justify-content:space-between;
    
}

.cuotas{
    font-size: 13px;
    padding: 20px;
    background-color: tomato;
    flex-grow: 1;

}
.consultas{
    align-items: center;
    background-color:blue;
    padding: 20px;
    flex-grow: 1;
}
.cambios{
    align-items: center;
    background-color:violet;
    padding: 20px;
    flex-grow: 1;
}
.redes{
    align-items: center;
    background-color:lightseagreen;
    padding: 20px;
    flex-grow: 1;
}

.footerblack{
    background-color: black;
    color: white;
}