/* ======================
        GENERALES
===================== */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================
      TIPOGRAFIAS
===================== */

h1 {
    font-family: Goldman;
    font-size: 36px;
}

h2 {
    font-family: Goldman;
    font-size: 16px;
    font-weight: normal;
}

h3 {
    font-family: Goldman;
    font-size: 14px;
    font-weight: normal;
}

h4 {
    font-family: Roboto;
    font-size: 36px;
}

p {
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    color: #373737;
}

a {
    font-family: Goldman;
    font-weight: normal;
    font-size: 14px;
    color: #00636C;
    text-decoration: none;
}

/* ======================
     HEADER-GENERAL
===================== */

.promo {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0px;
    text-transform: uppercase;
    width: 100%;
}

nav {
    overflow: hidden;
    display:flex;
    justify-content: flex-end;
    z-index: 1; 
}

nav ul {
    display: flex;
    list-style: none;
    color: #00636C;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none; 
    position: absolute;
    padding: 26px;
    z-index: 1;
}

nav ul li{
    padding: 0px 5px;
    font-size: 16px;
   
}

/* ======================
         MAIN
===================== */


main {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
 

/* ======================
         FOOTER
===================== */ 


.footerWhite {
    display: flex;
    flex-direction: column;
    margin: -20px 20px 20px 20px;
}

.informacion {
    display:flex;
    padding: 14px 50px;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    font-size: 13px;
    text-align: center;
       
}

.informacion i {
    font-size: 42px;
    margin: 13px;
}

.footerBlack {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 100px;    
    padding: 0 15px;
  
}

.whiteIcons li{
    text-align: center;
    margin: 42px 10px;
}

.whiteIcons {
    display: flex;
    list-style: none;  
}

/* ======================
        INDEX.HTML
===================== */ 


.img-header {
    position: relative;
    width: 100%; 
    z-index: 0;
}

.productosIndex a{
    margin-bottom: 20px;
}


/* ======================
    PRODUCT DETAIL
===================== */

main .imagenes{
    display: flex;
}

main .imagenesPeque{
    display: flex;
    flex-direction: column;
    margin-left:15px;
}

main .imagenesPeque img{
    margin-bottom: 15px;
}

main{
    display: flex;
    
}
.infoProducto{
    margin-left: 30px;
}

.tituloPrecio h1{
    font-family: Goldman;
    font-size: 36px;
    font-weight: 400;
}

.tituloPrecio h4{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
}

.colores{
    font-family: Goldman;
    font-size: 16px;
    font-weight: 400;
}

.colorProducto{
    font-family: Goldman;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    border: 2px solid black ;
    padding: 10px 20px ;
    margin-top: 10px;
}

.descripcion h2{
    margin-top: 40px;
    margin-bottom: 10px;
}

.descripcion p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: #373737;
    margin-bottom: 40px;
    width: 606px;
}

select {
    font-family: Roboto;
    font-size: 16px;
    margin: 60px 20px 20px 0px;
    padding: 10px 20px;
    border: 1px solid #717171;
    border-radius: 8px;
    color: #717171;
}

.agregarCarrito {
    font-family: Goldman;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #717171;
    border-radius: 8px;
    color: #717171;
    background-color: #00636C;
    color: white;
}

.guiaTalles {
    display: flex;
   margin-top: 35px;
}


/* ======================
      PRODUCT CART
===================== */

.container{
    display: flex;
    margin: 0 20px;
    
}

.izquierda{
   width: 70%;
}

.table-titulo{
    display: flex;    
}

.table-titulo .tituloArticulo{
    margin-right: 35%;
    margin-left: 5%;
}

.table-titulo .tituloCantidad{
    margin-right: 15%;
}

.table-titulo .tituloPrecio{
    margin-right: 10%;
}

.table-titulo .table-titulo{}

.agrega-nosequeponer{
    margin: 20px;
}

.producto-elegido{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.producto-elegido .nombre-producto {
    font-family: Roboto;
    font-size: 20px;
    color: #373737;
    display: inline-grid;
    padding: 20px;
}

.producto-elegido .precio {
    font-family: Roboto;
    font-size: 20px;
   
}

.producto-elegido a {
    font-size: 30px;
}

section .agregar-elemento1{
    display: flex;
    
}

section .agregar-elemento2{
    display: flex;
}

section .agregar-elemento3{
    display: flex;
}

.derecha{
    background-color: darkkhaki;
    width: 30%;
}

/* ======================
      LOGIN
===================== */

body .main-login{
    flex-direction: column;
    border: 1px solid #707070 ;
    width: 100%;
}

.hr-login{
    width: 100%;
}
