*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================
      TIPOGRAFIAS
===================== */

h1 {
    font-family: Goldman;
    font-size: 29px;
    font-weight: normal;
}

h2 {
    font-family: Goldman;
    font-size: 16px;
    font-weight: normal;
}

h3 {
    font-family: Goldman;
    font-size: 14px;
    font-weight: normal;
}

h4 {
    font-family: Roboto;
    font-size: 11px;
}

p {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    color: #373737;
}

a {
    font-family: Goldman;
    font-weight: normal;
    font-size: 14px;
    color:black;
    text-decoration: none;
    
}

button{
    outline:none !important;
outline-width: 0 !important;
/* box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none; */
}

.errors{
    color: red;
    font-family: Roboto;
    font-size: 12px;
    text-align: center;
    list-style: none;

}

.errores{
    color: red;
    font-family: Roboto;
    font-size: 10px;
    text-align: center;
    list-style: none;

}

/* ======================
       HEADERINDEX
===================== */ 

.index {
    display:flex;
    overflow: hidden;
    justify-content: flex-end;
    z-index: 1; 
}

.index ul {
    display: flex;
    list-style: none;
    color: black;
    
    text-decoration: none;
    list-style: none; 
    position: absolute;
    padding: 17px;
    z-index: 1;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: 1.75em;
    vertical-align: -.0667em;
}

 /* ANIMACION VENTANA MODAL */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  

.index ul li a i {
    padding: 0px 8px;
    transition: all 2ms;
    font-size: 18px;
}

.index ul li a i:hover{
    cursor: pointer;
    color: #9ad6f8;
}

.index ul li button i:hover{
    cursor: pointer;
    color: #9ad6f8;
}


.index ul li a{
    transition: all 2ms;
}

.index ul li a:hover{
    cursor: pointer;
    transform: scale(1.1); 
}

.search{
    background-color: transparent;
    padding: 5px;

}

.label{
    padding: 9px;
    padding-left: 20px;
}

.index ul input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #9ad6f8;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.fixed{
    display:flex;
    justify-content: flex-end;
    z-index: 1; 
    color: white;
    position: absolute;
    font-size: 20px;
    bottom: 0;
    left: 50%;
}

.fixed h4{
    display:flex;
    justify-content: flex-end;
    z-index: 1; 
    color: white;
    position: absolute;
    font-size: 14px;
    bottom: 48px;
    left: 7%;
}


.img-header {
    position: relative;
    width: 100%; 
    z-index: -1;
    box-shadow: -3px 7px 16px -2px rgba(194,186,186,0.93);
   
}

.novedades{
    text-align: center;
    margin-top: 30px;
}


/* CONTACTO */


.section {
    position: relative;
    width: 900px;
    max-width: 80%;
    border: 2px solid #333;
    border-top: none;
    text-align: center;
    margin: 60px auto;
  }
  
  .section h1 {
    position: relative;
    margin-top: -14px;
    display: inline-block;
    letter-spacing: 4px;
  }
  
  .top-border{
    position: absolute;
    height: 2px;
    width: 24%;
    background-color: #333;
  }
  
  .right {
    right: 0;
  }
  
  .left {
    left: 0;
  }
  
  @media (max-width: 685px) {
  .top-border {	
    width: 18%;
      }
  }
  
  .section p {
    width: 61%;
    margin: 20px auto 40px auto;
    line-height: 30px;
  }
  
  .section a {
    outline: 0;
    display: inline-block;
    padding: 20px;
    margin-bottom: 40px;
    width: 440px;
    max-width: 80%;
    background-color: #333;
    color: #fff;
    font-size: 22px;
    letter-spacing: 3px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
  }
  
  .section a:hover {
    background-color: #1D222D;
  }
  
  .section a:link, .section a:visited, .section a:link:hover, .section a:visited:hover {
    text-decoration: none;
    color: #fff;
  }
  
  @media (max-width: 500px) {
    .top-border {	
      display: none;
    }
    .section {
    border-top: 2px solid #333;
    }
    .section h1 {
      margin: 20px 6px;
    }
  }


/* ======================
        NAV BAR INDEX
===================== */

.formSearch{
    display: flex;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding: 60px;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 10px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

 .guide img{
     width: 330px;
     height: auto;
     object-fit: contain;
     
 }


.button-search input{
    display: none;
    background-color: transparent;
    border-radius: 22px;
    padding: 5px;
}


.button-search, input::placeholder{
    color:black;
    font-size: 16px;
    padding-bottom: 5px;
}


.icono-search, button{
    background-color: transparent;
    border: transparent;
    
}

.icono-search, button:hover{
    cursor: pointer;
}





/* ======================
        HEADER General
===================== */

.productos{
    display: inline-block;
    position: absolute;
    left: 2vw;
    z-index: 1;
    font-family: Goldman;
    font-size: 15px;
    font-weight: 100;
   text-align: center;
    opacity: 91%;
    width: 114px;
    height: 30px;
    padding-top: 4px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    background: #383e44;
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fafb), color-stop(100%,#8caac3));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #919191;
    border: 1px solid #9ad6f8;
    border-radius: 10px;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.bar{
    position: absolute;
}


.productos:hover{
    cursor: pointer;
    color: rgb(187, 187, 187);
}

.hanger{
    display: inline-block;
    object-fit: contain;
    width: 75px;
    height: 64px;
}

.hanger:hover{
    cursor: pointer;
    color: rgba(20, 130, 128, 0.583);
}







.fondoBlancoHeader {
    display:flex;
    flex-direction: column;
    width: 100%;
    top: 0;
}

.promo{
    
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 8px 0px;
    padding-left: 60px;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 2px;
}

.ocultar{
    display: none;
}

.menuFondoBlanco {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    background-color:white;
    justify-content: flex-end;
}

.navFondoBlanco {
    width: 100%;    
}

.navFondoBlanco ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    
    
    text-decoration: none;
    list-style: none; 
    
}

.navFondoBlanco ul li{
    padding-left: 15px; 
    

}
.navFondoBlanco ul li a i:hover{
    cursor: pointer;
    color: rgba(20, 130, 128, 0.583);
}


.navFondoBlanco ul input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}




/* ======================
         MAIN
===================== */


.productosIndex {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productosIndex article{
    position: relative;
    margin-bottom: 20px;
    background: rgb(173 168 168 / 70%);
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    -webkit-box-shadow: -2px -1px 10px 0px #616161;
    border-radius: 10px;
}

.productosIndex article .nombre-precio {
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: all 450ms;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.productosIndex article .nombre-precio p{
    color:white;
}



.productosIndex article .nombre-precio:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    
}

.fa-heart{
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 320px;
    right: 0;
    font-size: 20px;
    
}

.nuevo{
    position: absolute;
    top: 17px;
    bottom: 0;
    left: 268px;
    right: 0;
    font-size: 14px;
}



 

/* ======================
         FOOTER
===================== */ 


.footerWhite {
    display: flex;
    flex-direction: column;
    margin: -20px 20px 20px 20px;
}

hr {
    height: 0.5px;
    border-style: none;
    background-color: #373737;
    margin-top: 11px;
}

.informacion {
    display:flex;
    padding: 10px 70px;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    font-size: 11px;
    text-align: center; 
   
    transition: all .2s;
}

.redes:hover{
    transform: scale(1.1);
    cursor: pointer;

}

.informacion i {
    font-size: 35px;
    margin: 11px;
    
}

.footerBlack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;    
    padding: 0 20px;
  
}



.newsletter{
    color: white;
    background-color: transparent;
    border-bottom: white;
    font-variant: all-petite-caps;
}

.newsletterInput{
    color: white;
    background-color: transparent;
    margin: 0;
    text-align: center;
    padding: 0;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-color: white;
    font-variant: all-petite-caps;
    letter-spacing: 11px;
}

.whiteIcons li{
    display: flex;
    list-style: none;
    text-align: center;
    margin-left: 15px;
}

.whiteIcons {
    display: flex;
    list-style: none;  
}

.iconosFooter{
    display: flex;
    justify-content: flex-end;
    color: #999999;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.iconosFooter :hover {
    color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}




/* ======================
    PRODUCT DETAIL
===================== */

.productDetail {
    display: flex;
    margin: 10px;
    }



.imagenesPeque{
    display: flex;
    
}

.imagenesPeque img{
    margin-bottom: 15px;
    padding: 3px;
}

.imagenesPeque img:focus{
    color: #9ad6f8;
}

.infoProducto{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 35%;
   
}

.tituloPrecio h4{
    font-family: Roboto;
    font-size: 26px;
    font-weight: normal;
}

.colores{
    margin-top: 30px;
    margin-right: 30px;
}

.colorProducto{
   
    padding: 10px 0px ;
    margin-top: 10px;
    width: 145px;
   
}

.colorPorudcto:hover{
    cursor: pointer;
    
}

.line ul{
    display: flex;
}

.line ul li{
    font-family: "Roboto";
    margin: 2px;
    text-decoration: none;
    list-style: none;
}

.line ul li a{
    color: #8a9296;
}

.line ul li a:hover{
    color: #9ad6f8;
}

.line ul span{
    margin: 5px;
    color: #8a9296;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }





.descripcion p{
    margin-bottom: 30px;
   
}

.selAgregar {
    display: flex;
    flex-direction: row;
}

select {
    font-family: Roboto;
    font-size: 16px;
    margin: 0px 20px 20px 0px;
    padding: 10px 20px;
    border: 1.5px solid #717171;
    border-radius: 5px;
    color: #717171;
    height: 50px;
}
.agregarCarrito {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    color: white;
    width: 258px;
    height: 50px;
    background: #383e44;
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fafb), color-stop(100%,#8caac3));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #616161;
    border: 1px solid #9ad6f8;
    border-radius: 10px;
}

.menos{
    width: 21px;
    height: 20px;
    background: #383e44;
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fafb), color-stop(100%,#ffffff));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #b3b3b3;
    border: 1px solid #909090;
    border-radius: 3px;
}

.agregarCarrito:hover{
    cursor: pointer;
}

.colortalle{
    display: flex;
}

.contenidoAgregarCarrito {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.agregarCarrito i{
    margin-right: 10px;
}

.productosSimilares {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    
    
}

.imgProdSimilar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.lineasCarrito{
   border-style: ridge;
}

/* .imgProdSimilar img{
    display: flex;
    
    height: 310px;
    

.similares{
    text-align: center;
    margin-top: 40px;
} */

.imagenes {
    margin-left: 90px;
}


.count{
    font-family: 'Goldman';
    font-size: 14px;
    padding-right: 20px;
}


.sim{
    padding: 20px;
}
/* ======================
      PRODUCT CART
===================== */

.shopCart {
    width: 100%;
    display: flex;
}


    
.productosEnCarrito {
    display:flex;
    flex-direction: column;
    flex-grow: 1;    
    margin-right: 20px; 
    margin-left: 20px;  
    width: 60%; 
}

.tablaTitulos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;   
}

.articulo {
    display: flex;
    
    justify-content: flex-start;
}

.cantidad {
    display: flex;
    
    justify-content: flex-start;
}

.precio {
    display: flex;
    
    justify-content: flex-start;
    
   
}

.borrar {
    display: flex;
    
    justify-content: flex-end;
    

}

.sugeridosAgregar {
    display: flex;
    flex-direction: column;
}

.tablaProductos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.descProdCarrito {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nomColCarrito{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.selCantidad {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #707070;
    align-items: center;
    width: 200px;
    max-height: 50px;
}

.remover {
    display: flex;
    justify-content: center;
    color: #00636C;
    max-width: 50px;
}

.vl { 
    display: flex;
    width: 1px;
    background-color: #707070;
    height: 50px;
}

.totalProds {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.sumar {
    display: flex;
    justify-content: center;
    color: #00636C;
    max-width: 50px;
}

.tablaProductos .borrar {
    font-size: 20px;
    color: #00636C;
    padding-right: 20px;
}

.sugeridosAgregar {
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.tituloAgregar h2 {
    margin-bottom: 20px;
}

.derecha {
    width: 25%;
    display: flex;
    flex-direction: column;
  
    
}

.hola{
    display: flex;
}



.hola input::placeholder{
    color: #928f8f;
font-size: 12px;
text-align: center;
}

.descuentos ul li{
    list-style: none;
}

.agregar-elemento1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.agregar{
    
    font-family: Goldman;
    color: white;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #383e44;
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fafb), color-stop(100%,#8caac3));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #616161;
    border: 1px solid #9ad6f8;
    border-radius: 10px;
}

.agregar:hover{
        cursor: pointer;
        background-color: #048591;

}



.agregar-elemento2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }

.agregar-elemento3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }


/* ===============================
    FORMULARIOS LOGIN Y REGISTER
============================== */

div .all{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
}
.cruz{
    display: flex;
    justify-content: flex-end;
      
    padding: 10px; 
}

.chau{
    display: flex;
    justify-content: flex-start;
      
    padding: 10px; 
}

.fa-times {
    transition: all 300ms;
    cursor: pointer;
}

.fa-times:hover{
    transition: all 300ms;
    transform: rotate(-90deg);
}

.h1{
    text-align: center;
    margin: 20px;
    
}


.formularioIS{
    
    background-color: white;
    
    font-family: Goldman;
    text-align: center;
       
}


.formularioIS input{
    position: relative;
    padding: 10px 40px;
    border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: .5px;
  border: 0;
  border-bottom: 2px solid #f0f0f0;
  background-color: white;
  padding-left: 40px;
  
 }
 .formularioIS input:valid {
    border-color: #9ad6f8;
 }
 .formularioIS input:focus {
    outline: none;
    
 }

 .icon{
    position: absolute;
    z-index: 1;
    padding-top: 11px;
    
 }
    


.formularioIS input::placeholder{
    
    color: #928f8f;
font-size: 12px;
text-align: center;
    
    
}

.label{
   
    font-family: Goldman;
    
    
}

.IS{
    text-align: center;
}

.IS h2{
    margin: 10px;
    font-family: Goldman;
    text-align: center;
}

.IS button{
    margin: 20px;
    font-family: Goldman;
    color: rgb(0, 0, 0);
    
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #383e44;
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fafb), color-stop(100%,#8caac3));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #616161;
    border: 1px solid #9ad6f8;
    border-radius: 10px;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.bot{
    margin: 20px;
    font-family: Goldman;
    color: rgb(0, 0, 0);
    
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #383e44;
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fafb), color-stop(100%,#8caac3));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #616161;
    border: 1px solid #9ad6f8;
    border-radius: 10px;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.bot:hover{
    cursor: pointer;
        background-color: #048591;
}

.IS button:hover{
        cursor: pointer;
        background-color: #048591;

}

.IS h2{
    display: inline-block;
}

.crearCuenta{
    
    text-align: center;
    background-color: white;
    
    
}
.crearCuenta h2{
    text-align: center;
    font-family: Goldman;
    
}    

.crearCuenta a button{
    margin: 20px;
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

}

.crearCuenta a button:hover{
    cursor: pointer;
    background-color: #048591;

}

/* REGISTER */

.register{
    
    background-color: white;
   
    font-family: Goldman;
    text-align: center;
    text-align: center;
    
    
}




.formularioRegister input{
    
    position: relative;
    padding: 11px 40px;
    border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: .5px;
  border: 0;
  border-bottom: 2px solid #f0f0f0;
  background-color: #ffffff;
 
    
    
}

.formularioRegister input:valid {
    border-color: #9ad6f8;
 }
 .formularioRegister input:focus {
    outline: none;
   
 }


.formularioRegister input::placeholder{
color: #928f8f;
font-size: 12px;
text-align: center;

}

.formularioRegister label{
    margin: 10px 60px;
    font-family: Goldman;
    
    
}

.register form button{
    margin: 20px;
    font-family: Goldman;
    color: white;
    
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    background: #383e44;
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fafb), color-stop(100%,#8caac3));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #616161;
    border: 1px solid #9ad6f8;
    border-radius: 10px;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    
}

.register form button:hover{
    cursor: pointer;
       

}

.descuentos ul li{
    font-family: 'Goldman';
font-size: 16px;
margin-bottom: 2px;
}
/* ===============================
         PAGE NOT FOUND
============================== */

.error{
    width:100%;
}

/* ===============================
         admin
============================== */
.admin{
    justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.adminBoton{
    font-size: 19px;
    margin: .5em;
    padding: .5em;
    border-radius: 5px;
    transition: all .5s;
    filter: hue-rotate(0deg);
    color: #FFF;
    text-decoration: none;
    width: 260px;
}

.b-green, .b-green:before {
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(26,188,156,1)));
    background: -webkit-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    background: -o-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    background: linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1 );
  }

/* a .adminBoton{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: Goldman;
    color: white;
    background-color: #00636C;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
} */

.adminBoton:hover{
    cursor: pointer;
        background-color: #048591;

}

/* ===============================
         PERFIL USUARIO
============================== */
.profile{
    background-image:url("../img/profile.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
   
    width: 100%;
   height: 100%;
}

.caja1{
    display: flex;
   justify-content: center;
   margin: 75px;
}

.cajita{
    display: flex;
}

.caja2{
    
    background-color: #dde2e64f;;
    width: 600px;
  /*   min-height: 500px; */
    border-radius: 10px;
    
    
    align-items: center;
    box-shadow: 2px 10px 40px rgba(22,20,19,0.3);

}

.caja2 img{
    width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  /*  Margin top should be no more than 85px  */
  margin-top: -60px;
  border: 10px solid rgba(154, 154, 154, 0.45);
  margin-left: 20px;
}

.caja4{
    display: flex;
    justify-content: flex-end;
    font-family: Goldman;
    margin: 20px;
    
}

.caja3 p{
    font-family: Roboto;
    color: #9ad6f8;
    margin: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.profile-edit-btn {
    font-size: 12px;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}







/* ===============================
         AGREGAR PRODUCTO
============================== */



.agregarProducto{
    
    
    font-family: Goldman;
    text-align: center;
    text-align: center;
}





.agregarProducto input{
    padding: 5px 76px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.agregarProductodesc input{
    padding: 27px 76px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.agregarProducto input::placeholder{
    color: #928f8f;
    font-size: 12px;
    text-align: center;
    
    }

.agregarProducto .label{
        margin: 10px 60px;
        font-family: Goldman;
        
        
    }

    .prev{
        text-align: center;

    }

    .previousRound{
        
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 10px 16px;
        margin: 11px;
        background: #383e44;
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fafb), color-stop(100%,#8caac3));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #616161;
    border: 1px solid #9ad6f8;
    border-radius: 50%;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    }

    .nextRound{
        border-radius: 50%;
        
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 10px 16px;
        margin: 11px;
        background: #383e44;
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fafb), color-stop(100%,#8caac3));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #616161;
    border: 1px solid #9ad6f8;
    
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    }


    /* ===============================
        ALL products
============================== */

 .allproducts{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .banner {
    color: white;
    background: url("/img/unisex5.jpg") center top/cover no-repeat;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.21);
      -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.21);
      -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.21);
      
      margin-bottom: 15px;
    
  }

 


 .allproducts article{
    margin: 20px;
    position: relative;
    text-align: center;
    background: rgb(173 168 168 / 70%);
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    -webkit-box-shadow: -2px -1px 10px 0px #616161;
    
    border-radius: 10px;
 }

 .price{
    position: absolute;
   
    background: #383e44;
    background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fafb), color-stop(100%,#8caac3));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #616161;
    border: 1px solid #9ad6f8;
    border-radius: 10px;
    top: 239px;
    left: 101px;
    opacity: 91%;
    width: 130px;
    height: 64px;
    margin: 10px;
    padding: 2px;
 }

 img{
    border-radius: 10px; 
    
 }

 /* =================
     detalles divertidos
============================== */

 .contenedor-redes-sociales {
     display: flex;
     flex-direction: column;
    text-align: center;
}

.contenedor-redes-sociales a {
    position: relative;
    display: inline-block;
    height: 36px;
    width: 130px;
    line-height: 35px;
    padding: 0;
    color: #fff;
    border-radius: 50px;
    background: #fff;
    margin: 5px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.contenedor-redes-sociales a:hover span.circulo {
    left: 100%;
    margin-left: -35px;
    background: #fff;
}

.contenedor-redes-sociales a:hover span.titulo {
    opacity: 0;
}

.contenedor-redes-sociales a:hover span.titulo-hover {
    opacity: 1;
    color: #fff;
}

.contenedor-redes-sociales a span.titulo-hover {
    opacity: 0;
}

.contenedor-redes-sociales a span.circulo {
    display: block;
    color: #fff;
    position: absolute;
    float: left;
    margin: 1px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    transition: all 0.5s;
    border-radius: 50%;
}

.contenedor-redes-sociales a span.circulo i {
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin: 0px;
    padding: 7px;
    
}

.contenedor-redes-sociales a span.titulo, .contenedor-redes-sociales a span.titulo-hover {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    font-weight: 400;
    transition: .5s;
}

.contenedor-redes-sociales a span.titulo {
    right: 15px
}

.contenedor-redes-sociales a span.titulo-hover {
    left: 15px
}


/*----------Colores de los botones----------*/

.contenedor-redes-sociales .facebook {
    border: 2px solid #3b5998;
}

.contenedor-redes-sociales .facebook:hover, .contenedor-redes-sociales .facebook span.circulo {
    background: #3b5998;
}

.contenedor-redes-sociales .facebook:hover span.circulo, .contenedor-redes-sociales .facebook span.titulo {
    color: #3b5998;
}

.contenedor-redes-sociales .twitter {
    border: 2px solid rgb(221, 33, 137,1 );
    
    
    
}

.contenedor-redes-sociales .twitter:hover, .contenedor-redes-sociales .twitter span.circulo {
    background: #dd2a7b;
    background: -moz-linear-gradient(45deg, rgb(116, 73, 234) 0%, rgb(221, 33, 137) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgb(234, 73, 194,1)), color-stop(100%, rgb(234, 73, 194,1)));
    background: -webkit-linear-gradient(45deg, rgb(116, 73, 234,1) 0%, rgb(234, 73, 194,1) 100%);
    background: -o-linear-gradient(45deg, rgb(116, 73, 234,1) 0%, rgb(234, 73, 194,1) 100%);
    background: -ms-linear-gradient(45deg, rgb(116, 73, 234,1) 0%, rgb(234, 73, 194,1) 100%);
    background: linear-gradient(45deg, rgb(116, 73, 234,1) 0%, rgb(234, 73, 194,1) 100%);
}

.contenedor-redes-sociales .twitter:hover span.circulo, .contenedor-redes-sociales .twitter span.titulo {
    color: #dd2a7b;
    
}

.contenedor-redes-sociales .gplus {
    border: 2px solid #dd4b39;
}

.contenedor-redes-sociales .gplus:hover, .contenedor-redes-sociales .gplus span.circulo {
    background: #dd4b39;
}

.contenedor-redes-sociales .gplus:hover span.circulo, .contenedor-redes-sociales .gplus span.titulo {
    color: #dd4b39;
}
  

/* ===============================
         pago
============================== */

 .visa{
     height: 60px;
    text-align: center;
    align-content: center;
    margin-bottom: 23px;
    margin-left: 6px;
}
 


/* ===============================
         MEDIA QUERIES
============================== */


@media(max-width: 1024px) {
    .display{
        font-size: 12px;
    }

    .sim{
        height: 300px;
    }
    .imagenes {
       
        margin-left: 80px;
    }

   
  
    .fixed{
        display: none;
    }
  
    .fixed h4{
        display: none;
    }
  }
  
  
  @media(max-width: 910px) {
    .fixed{
        display: none;
    }
  
      h3{
          font-size: 11px;
      }
  
      h2{
          font-size: 15px;
      }
        
      .index ul input{
          font-size: 8px;
          
     }
  
     
  
     .formularioIS input {
      margin: 10px 0px;
      padding: 11px 21px;
      border-radius: 3px;
  }
  
     
  }
  
@media(max-width: 813px) {
  
      h2{
          font-size: 13px;
      }
  
      .fixed{
          bottom: 151px;
      }
  
      .footerBlack{
          height: 82px;
  
      }
  
      
  }
  
  
@media(max-width: 802px){
    
      
      .footerWhite{
          margin: -20px 10px 10px 11px;
  }

  
  
@media(max-width: 768px){
    .consultas{
        display: none;
    }
.sim{
    height: 250px;
}

.imagenes {
    margin-left: 4px;
}
          
  
          .productosIndex article{
              margin-bottom: 1px;
          }
  
          hr{
              display: none;
          }
  
          .footerWhite {
              margin: -11px -2px -5px -19px;
          }
          .footerBlack img{
              display: none;
          }
          .p {
            font-size: 9px;
            font-weight: 200;
        }
  
      }


 @media(max-width: 660px){   
    .consultas{
        display: none;
    }  
      .img-header{
          position:initial;
      }
  
      .informacion i {
          font-size: 31px;
          
      }
  
      .informacion{
          padding: 5px 18px;
          
          margin-bottom: 20px;
      }
  
      .promo{
          padding-left: 0px;
      }
  
      h3{
          font-size: 10px;
          letter-spacing: 1px;
      }
     
  
      .index ul{
          padding: 2px;
          margin-top: 10px;
      }
      .fa{
          display: initial;
      }
  
      .whiteIcons {
          display: initial;
         
      }
  
      .whiteIcons li {
          display: initial;
      }
  
      .iconosFooter {
          display: flex;
          justify-content: flex-end;
      }
     
      h3 {
         
          margin-top: 0px;
      }
      .p{
        font-size: 8.5px;
      }
      
}



@media(max-width: 425px){
    .contenedor-redes-sociales {
        display: -webkit-inline-box;
        flex-direction: column;
        text-align: center;
    }
    .cuotas{
        display: none;
    }
    
    .contenedor-redes-sociales a {
        
        margin: 0;
        margin-bottom: 10px;
        
    }
    .cambios{
        display: none;
    }

    .consultas{
        display: none;
    }
    

    .hr2{
        
            display: block;
            border-style: ridge;
        margin-top: 0px;
    }
    .agregar-elemento1, .agregar-elemento2, .agregar-elemento3{
        margin-left: 2px;
    }
    .articulo{
        margin-right: 6px;
    }
    .cantidad{
        margin-right: 6px;
    }
    .precio{
        margin-right: 6px;
    }
    .borrar{
        margin-right: 6px;
    }
    .tablaTitulos{
        justify-content: flex-end;
    }
    .tablaProductos{
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 2px;
    }
    .guide img {
        width: 291px;

    }
    .similares{
        font-size: 20px;
    
    }
    
    .agregarCarrito{
        width: 200px;
    height: 53px;
    }

    .line{
        font-size: 13px;


    }
    p{
        font-size: 14px;
    }
    select{
        height: 43px;
        font-size: 15px;
    }
    .imgProdSimilar{
        flex-wrap: nowrap;
    }
    .colores {
        margin-top: 10px;
        margin-right: 1px;
    }

    .imagenesPeque img {
        margin-bottom: 0px;
        padding: 3px;
        height: 76px;
    }

    .imagenesPeque {
        display: flex;
        flex-direction: column;
    }
    .imagenes {
        display: flex;
        justify-content: center;
        margin-left: 4px;
        flex-direction: row;
    }

    .fall2{
        height: 300px;
    }
    .productosIndex article {
        margin-bottom: 19px;
    }

    .novedades {
        text-align: center;
        margin-top: 17px;
    }
    .nuevo {
        position: absolute;
        top: 11px;
        bottom: 0;
        left: 210px;
        right: 0;
        font-size: 13px;
    }
    .fa-heart {
        position: absolute;
        top: 11px;
        bottom: 0;
        left: 258px;
        right: 0;
        font-size: 15px;
    }
    
    .allproducts article {
        margin: 10px;
        border-radius: 9px;
    }

    .price{
        top: 163px;
        left: 69px;
    }

    .fall {
        border-radius: 10px;
        height: 400px;
    }

    .formularioRegister input {
        position: relative;
        padding: 11px 40px;
        border-radius: 3px;
        padding-left: 13px;
        padding-right: 20px;
        /* letter-spacing: .5px; */
        border: 0;
        border-bottom: 2px solid #f0f0f0;
        background-color: #ffffff;
        font-size: 9px;
    }

    .formularioIS input {
        margin: 10px 0px;
        padding: 2px 21px;
        border-radius: 0px;
    }

    .banner{
        height: 155px;
        margin-bottom: 7px;
    }

    .modal{
        padding: 35px;
        
    }

    .newsletterInput{
        letter-spacing: 10px;
    }

    .menuFondoBlanco{
        padding: 5px 16px;
    }

    .shopCart{
        display: inherit;
    }

    .agregar{
        padding: 7px 8px;
        margin-left: 17px;
    }

    .productosEnCarrito{
        margin-left: 0px;
    width: 100%;
    }

    .derecha{
        width: 100%;
        padding-left: 35px;
        margin-bottom: 45px;
    }

    .descuentos ul li{
        font-family: 'Goldman';
    font-size: 16px;
    margin-bottom: 2px;
    }

    .productDetail{
        display: inline-block;
        margin: 0px;
    }

    /* .imagenes{
        margin-left: 0px;
    } */

    .infoProducto{
        width: 90%;
        margin-left: 15px;
        margin-right: 0px;
    }

    .sim{
        height: 120px;
        padding: 5px;
    }

    .productosSimilares{
        margin-top: 0px;

    }
    
  
    .informacion {
        padding: 11px 69px;
        margin-bottom: 6px;
    }

  .p{
      font-size: 6px;
  }
  
 
  .display{
      display: none;
  }

  .cajita{
      display: inherit;
  }

  .caja4 {
    display:inherit;
    justify-content: flex-end;
    font-family: Goldman;
    margin: 0px;

  }

.whiteIcons{
    display: none;
}

.productos{
    width: 85px;
    height: 26px;
    font-size: 12px;
}

.index ul input {
    font-size: 8px;
}
.formularioRegister label {
    margin: 7px 0px;
    font-family: Goldman;
}

.admin{
    display: inherit;
}

.fa-shopping-cart::before {
    font-size: 22px;
}

.navFondoBlanco ul li {
    padding-left: 4px;
}


li a .fa-envelope{
   display: none;
}
.fa-search::before{
    font-size: 22px;
}

.fa-user-circle::before{
    
    font-size: 22px;
}
}