*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}

h1 {
    font-family: Goldman;
    font-size: 36px;
}

h2 {
    font-family: Goldman;
    font-size: 16px;
    font-weight: normal;
}

h3 {
    font-family: Goldman;
    font-size: 14px;
}

h4 {
    font-family: Roboto;
    font-size: 36px;
}

p {
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    color: #373737;
}

a {
    font-family: Goldman;
    font-weight: normal;
    font-size: 14px;
    color: #00636C;
    text-decoration: none;
}

.promo{
    background-color: black;
    color: white;
    font-family: Goldman;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 15px 0px;
    text-transform: uppercase;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    z-index: 1;
    color: #00636C;
    background-color: transparent;
    font-family: Goldman;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    width: 240px;
    align-items: flex-end;    
    justify-content: space-between;
    
}




.img-header{
    position: absolute;
    width: 100%;
  
}

 
.footerwhite{
    display: flex;
    justify-content:space-between;
    
}

.cuotas{
    font-size: 13px;
    padding: 20px;
    background-color: tomato;
    flex-grow: 1;

}
.consultas{
    align-items: center;
    background-color:blue;
    padding: 20px;
    flex-grow: 1;
}
.cambios{
    align-items: center;
    background-color:violet;
    padding: 20px;
    flex-grow: 1;
}
.redes{
    align-items: center;
    background-color:lightseagreen;
    padding: 20px;
    flex-grow: 1;
}

.footerblack{
    background-color: black;
    color: white;
}

.logoFondoBlanco {
    fill:#101010;
}