<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/headerGeneral.ejs") %>
    <div class="admin">
        <h1>CONFIGURACIÓN ADMIN</h1>
    <a href="/admin/create"><button class="adminBoton">Crear Producto</button></a>
    <!-- <a href="/admin/edit/:id"><button class="adminBoton">Editar Producto</button></a>
    <a href="/admin/detele/:id"><button class="adminBoton">Borrar Producto</button></a> -->
    <a href="/products/all"><button class="adminBoton">Ver todos los productos</button></a>
</div>
</body>
</html>