<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {Solapa:"Agregar"}) %>
<body>
    <div class="agregarProducto">
        <h1>Agregar producto</h1>
        <form method="post" action="/products/create">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input required id="nombre" placeholder="Nombre del producto" class="form-control" type="text"
                    name="nombre">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input required id="descripcion" placeholder="Descripcion del producto" class="form-control" type="text"
                    name="descripcion">
            </div>
            <div class="form-group">
                <label for="imagen">Imágen</label>
                <input required id="imagen" placeholder="Imagen del producto" class="form-control" type="file"
                    name="imagen">
            </div>
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <input required id="categoria" placeholder="Categoria del producto" class="form-control" type="text"
                    name="categoria">
            </div>
            <div class="form-group">
                <select name="talle" type="Seleccionar un Talle">
                    <option disabled selected>Selecciona un talle</option>
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                </select>
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input required id="color" placeholder="Color del producto" class="form-control" type="color"
                    name="color">
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input required id="precio" placeholder="Precio del producto" class="form-control" type="number"
                    name="precio">
            </div>
            <div class="form-group">
                <button class="success">Guardar</button>
                <a href="#" class="volver">Volver</a>
            </div>
        </form>
    </div>
</body>
</html>