<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", {Solapa: "Productos"}) %>
</head>
<body>
    <%- include("./partials/headerGeneral.ejs") %>
    <article>
        <% for(let i=0; i< products.length; i++) { %> 
         <div class="nombre-precio">           
            <h2 class="name"><%= products[i].name %></h2><br>
            <p class="name"><%= products[i].price %></p> 
        </div>
        <% } %> 
        <!-- <a href="/products/detail/:id"> <img src="/img/fullOutfit.jpg" alt="fullOutfit"></a>  -->
    </article>
    
</body>
</html>