<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs", {Solapa:"Full Diseño | Home"}) %>

    <body>
        <%- include("./partials/headerIndex.ejs") %>

            <main class="productosIndex">
                <article>
                    <div class="nombre-precio">  
                        <!-- //aca va un for que muestre y en el h2 y p entro en el array en si posicion -->
                        <h2>CAMPERA JEAN</h2><br>
                        <p>$3.400 </p>
                    </div>
                    <span><i class="fa fa-heart"></i></span>
                    <a href="/products/detail/:id"> <img src="/img/fullOutfit.jpg" alt="fullOutfit"></a>
                </article>

                <article>
                     <div class="nombre-precio">
                            <h2>BUZO VERDE</h2><br>
                            <p>$4.400 </p>
                        </div>
                        <span><i class="fa fa-heart"></i></span>
                        <a href="#"><img src="/img/sueterVerde.jpg" alt="sueterVerde">
                    </a>
                </article>

                <article>
                    <div class="nombre-precio">
                        <h2>OVEROLL</h2><br>
                        <p>$7.400 </p>
                    </div>
                    <span><i class="fa fa-heart"></i></span>
                    <a href="#"> <img class="ropa" src="/img/overollStyle.jpg" alt="fullOutfit-2"></a>

                </article>

                <article>
                    <div class="nombre-precio">
                        <h2>CAMPERA NEGRA</h2><br>
                        <p>$8.400 </p>
                    </div>
                    <span><i class="fa fa-heart"></i></span>
                    <a href="#"> <img class="ropa" src="/img/abrigoNegro.JPG" alt="abrigoNegro"></a>
                </article>

                <article>
                    <div class="nombre-precio">
                        <h2>BUZO BLANCO</h2><br>
                        <p>$3.400 </p>
                    </div>
                    <span><i class="fa fa-heart"></i></span>
                    <a href="#"> <img class="ropa" src="/img/sueterBlanco.jpg" alt="buzoblanco"></a>
                </article>

                <article>
                    <div class="nombre-precio">
                        <h2>CAMISA BLANCA</h2><br>
                        <p>$3.400 </p>
                    </div>
                    <span><i class="fa fa-heart"></i></span>
                    <a href="#"> <img class="ropa" src="/img/camisa.jpg" alt="camisaJean"></a>
                </article>
            </main>

            
            <%- include("./partials/footer.ejs") %>

              <script src="javascript/javascript.js"></script> 
    </body>
</html>