<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/header.ejs") %>

            <main class="productosIndex">
                <article>
                    <div class="nombre-precio">
                        <h2>CAMPERA JEAN</h2><br>
                        <p>$3.400 </p>
                    </div>
                    <a href="#"> <img src="/img/fullOutfit.jpg" alt="fullOutfit"></a>

                    
                </article>

                <article >
                    <a href="#"> <img src="/img/sueterVerde.jpg" alt="sueterVerde"></a>
                    <div class="nombre-precio">
                        <h2>SWEATER VERDE</h2><br>
                        <p>$4.400 </p>
                    </div>
                </article>

                <article>
                    <a href="#"> <img src="/img/overollStyle.jpg" alt="fullOutfit-2"></a>
                    <div class="nombre-precio">
                        <h2>OVEROLL</h2><br>
                        <p>$7.400 </p>
                    </div>
                </article>

                <article>
                    <a href="#"> <img src="/img/abrigoNegro.JPG" alt="abrigoNegro"></a>
                    <div class="nombre-precio">
                        <h2>CAMPERA NEGRA</h2><br>
                        <p>$8.400 </p>
                    </div>
                </article>

                <article>
                    <a href="#"> <img src="/img/sueterBlanco.jpg" alt="buzoblanco"></a>
                    <div class="nombre-precio">
                        <h2>SWEATER BLANCO</h2><br>
                        <p>$3.400 </p>
                    </div>
                </article>

                <article>
                    <a href="#"> <img src="/img/camisa.jpg" alt="camisaJean"></a>
                    <div class="nombre-precio">
                        <h2>CAMISA JEAN</h2><br>
                        <p>$3.400 </p>
                    </div>
                </article>
            </main>

            <%- include("./partials/footer.ejs") %>

    </body>

</html>