<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/header.ejs") %>

        <main class="productosIndex">
            <a href="#"> <img src="/img/fullOutfit.jpg" alt="fullOutfit"></a>
            <a href="#"> <img src="/img/sueterVerde.jpg" alt="sueterVerde"></a>
            <a href="#"> <img src="/img/overollStyle.jpg" alt="fullOutfit-2"></a>
            <a href="#"> <img src="/img/abrigoNegro.JPG" alt="abrigoNegro"></a>
            <a href="#"> <img src="/img/sueterBlanco.jpg" alt="buzoblanco"></a>
            <a href="#"> <img src="/img/camisa.jpg" alt="camisaJean"></a>
        </main>

        <%- include("./partials/footer.ejs") %>   

    </body>

</html>