<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs") %>

    <body>
        <div class="promo">
            <h3>Ejemplo promo 50% descuento en envíos</h3>
        </div>
        <section class="loginPage">
            <div class="loginCard">
                <h1>Iniciar Sesión</h1>
                <section class="formularioIS">
                
                    <form action="">
                        <label for="email">Ingrese su correo electrónico</label><br>
                        <input type="email" id="email" name="email">
                    </form>
                    <form action="">
                        <label for="password">Ingrese su contraseña</label><br>
                        <input type="password" id="password" name="password">
                    </form>
                    <h3>¿Olvidaste tu contraseña?</h3>
                    <button>Iniciar Sesión</button>
                </section>

                <section class="crearCuenta">
                    <hr>
                    <h2>¿Todavía no tienes cuenta?</h2>
                    <button>Crear una cuenta</button>
                </section>
            </div>
        </section>
    </body>

</html>