<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs") %>

    <body>
        <div class="promo">
            <h3>Ejemplo promo 50% descuento en envíos</h3>
        </div>
        <section class="loginPage">
            <div class="loginCard">
                <h1>Iniciar Sesión</h1>
                <section class="formularioIS">
                <div class="label">
                    <form action="">
                        <label for="email">Correo Electrónico:</label><br>
                        <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico">
                    </form>
                    <form action="">
                        <label for="password">Constraseña:</label><br>
                        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña">
                    </form>
                </div class="small">
                    <h3><a href="#">¿Olvidaste tu contraseña?</a></h3>
                    <button>Iniciar Sesión</button>
                </section>

                <section class="crearCuenta">
                    <hr><br>
                    <h2>¿Todavía no tienes cuenta?</h2>
                    <button>Crear una cuenta</button>
                </section>
            </div>
        </section>
    </body>

</html>