<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs") %>

    <body>
        
        <section class="loginPage">
            <div class="loginCard">
                <h1>Iniciar Sesión</h1>
                <section class="formularioIS">
                <div class="label">
                    <% if (typeof errors != "undefined"){ %>
                        <p style="color: red;">EEROR</p>
                        <ul>
                            <% for(let i=0; i< errors.length;i++){ %>
                                <li>
                                    <%=errors[i].msg%>
                                </li>
                           <% } %>
                        </ul>
                        <% } %>
                    <form action="/user/login" method="POST">
                        <label for="email">Correo Electrónico:</label><br>
                        <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico">
                    </form>
                    <form action="/user/login" method="POST">
                        <label for="password">Constraseña:</label><br>
                        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña">
                    </form>
                </div class="small">
                    <h3><a href="#">¿Olvidaste tu contraseña?</a></h3>
                    <button>Iniciar Sesión</button>
                </section>

                <section class="crearCuenta">
                    <hr><br>
                    <h2>¿Todavía no tienes cuenta?</h2>
                    <button>Crear una cuenta</button>
                </section>
            </div>
        </section>
    </body>

</html>