<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {Solapa:"Full Diseño | Login"}) %>
<body>
    <%- include("./partials/headerGeneral.ejs") %>
    <img src="/img/not found.jpg" alt="error 404">
</body>
</html>