<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <img src="../../public/img/404.jpg" alt="page not-found">    
</body>
</html>