<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {Solapa:"Full Diseño | Perfil"}) %>
<body>
    <%- include("./partials/headerGeneral.ejs") %>
    <h1>PERFIL</h1>
</body>
</html>