<!DOCTYPE html>
<html lang="es">

    <%- include("./partials/head.ejs") %>

<body>
    <header class="fondoBlancoHeader">
        <div class="promo">
            <h3>Ejemplo promo 50% descuento en envíos</h3>
        </div>
        <div class="menuFondoBlanco">
            <a href="#"><img class="logoDark" src="/img/img-logoDark.svg" alt=""></a>
            <nav class="navFondoBlanco">
                <ul>
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                    <li><a href="#">Iniciar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="productDetail">
        <section class="imagenes">
            <img src="/img/sueterVerde-2.JPG" alt="" class="seleccionada">
            <div class="imagenesPeque">
                <img src="/img/sueterVerde-3.JPG" alt="">
                <img src="/img/sueterVerde-4.JPG" alt="">
                <img src="/img/sueterVerde-5.JPG" alt="">
                <img src="/img/sueterVerde-6.JPG" alt="">
            </div>
        </section>
        <section class="infoProducto">
            <div class="tituloPrecio">
                <h1>Buzo Verde</h1>
                <h4>$768</h4>
            </div>
            <div class="colores">
                <h2>Colores</h2>
                <div class=colorProducto><h2>Verde Militar</h2></div>
            </div>
            <div class="descripcion">
                <h2>Descripción</h2>
                <p>Buzo canguro con capucha. Combina su toque con detalles deportivos cómo sus mangas largas que te
                    permiten mover los brazos libremente sin restricciones de movilidad. Cuenta con pasa pulgar en el
                    puño para cubrir muñecas.</p>
            </div>
            <div class="selAgregar">
                <select name="talle" type="Seleccionar un Talle">
                    <option disabled selected>Seleccioná un Talle</option>
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                </select>
                <button type="submit" class="agregarCarrito">
                         <div class="contenidoAgregarCarrito"><i class="fa fa-shopping-cart"></i><h2>Agregar al
                         carrito</h2>
                     </div>
                </button>
            </div>
            <a  href="#" class="guiaTalles">Guía de Talles</a>
        </section>
    <section class="productosSimilares">
        <h1>Productos Similares</h1>
        <div class="imgProdSimilar">
            <img src="/img/coupleHeader.JPG" alt="pareja con sueter blanco">
            <img src="/img/fullOutfit-2.jpg" alt="pareja con overall">
            <img src="/img/camisaJean-3.JPG" alt="pareja agachada con camisa blanca y jean">
        </div>
    </section>
    </main>

    <%- include("./partials/footer.ejs") %>   


</body>