<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs", {Solapa:"Carrito"}) %>

    <body>
        <%- include("./partials/headerGeneral.ejs") %>

            <main class="shopCart">
                <div class="productosEnCarrito">
                    <section class="tablaTitulos">
                        <h2 class="articulo">Articulo</h2>
                        <h2 class="cantidad">Cantidad</h2>
                        <h2 class="precio">Precio</h2>
                        <h2 class="borrar">Borrar</h2>
                    </section>

                    <hr class="lineasCarrito">

                    
                           
                            <div id="guardadoCarrito">
                                
                            </div>
                            
                    


                                        <hr>


                                        <section class="sugeridosAgregar">
                                            <div class="tituloAgregar">
                                                <h2>Agregá a tu carrito</h2>
                                                <hr>
                                            </div>

                                            <div class="productosAgregados">

                                                <article class="agregar-elemento1">

                                                    <img src="/img/coupleHeader-1.jpg" alt="">
                                                    <div>
                                                        <h2>Buzo</h2>
                                                        <h2>Color: Blanco</h2>
                                                    </div>

                                                    <h2>$768.00</h2>
                                                    <button class="agregar" type="text">Agregar</button>
                                                </article>

                                                <hr>

                                                <article class="agregar-elemento2">
                                                    <img src="/img/camisaJean-1.jpg" alt="">
                                                    <div>
                                                        <h2>Camisa</h2>
                                                        <h2>Color: Blanco</h2>
                                                    </div>
                                                    <h2>$768.00</h2>
                                                    <button class="agregar" type="text">Agregar</button>
                                                </article>

                                                <hr>

                                                <article>
                                                    <article class="agregar-elemento3">
                                                        <img src="/img/fullOutfit-1.jpg" alt="">
                                                        <div>
                                                            <h2>Overal</h2>
                                                            <h2>Color: Jean</h2>
                                                        </div>
                                                        <h2>$768.00</h2>
                                                        <button class="agregar" type="text">Agregar</button>
                                                    </article>
                                            </div>
                                        </section>


                </div>
                <div class="derecha">
                    <h2 class="h1">Cupón de descuento</h2>
                    <article class="hola">
                        <input type="text" placeholder="Inserte código"></input>
                        <button class="agregar" type="submit">Aplicar</button>
                    </article>
                    <article>
                        <h2 class="h1">Seleccionar tipo de envío</h2>
                        <article class="hola">
                            <br>
                            <select type="Seleccionar el tipo de envío" name="Envío" id="">

                                <option value="T">Retirar en tienda</option>
                                <option value="D">Envío a domicilio</option>
                            </select>
                        </article>
                        <article class="descuentos">
                            <ul>
                                <li>Subtotal:</li>
                                <li>Descuento:</li>
                                <li>Envío:</li>
                                <li>I.V.A.:</li>
                            </ul>
                            <br>
                            <h2>Total: </h2>
                        </article>

                </div>


            </main>

            <script>
                function contadormas() {
                    valor = document.getElementById("count");

                    if (valor.value < 30) valor.value++;
                }

                function contadormenos() {
                    valor = document.getElementById("count");
                    if (valor.value > 01) valor.value--;
                }
            </script>
           <script src="/js/guardadoCarrito.js"></script>


            <%- include("./partials/footer.ejs") %>
    </body>

</html>