<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs", {Solapa:"Register"}) %>

    <body>
        <%- include("./partials/headerGeneral.ejs") %>

            <div class="register">
                
                <form class="register" action="" method="POST" enctype="multipart/form-data">
                    <div class="cruz">
                        <i class="fa fa-times"></i>
                    </div>
                    <h1 class="h1">Registrate</h1>
                    <!-- si no le pongo nada en action quiere decir que esta viajando a /register y el enctype multipartes sirve para cuando tenemos que subir un archivo de tipo file y multer le dice a express que hacer con este tipo de formularios -->
                    <div class="formularioRegister">
                        <div class="errors">
                            <ul>   
                           </ul>
                        </div>
                        
                        
                        <br>
                        <label for="inputName">Nombre:</label>
                        <br>
                        <input type="text" name="name" id="inputName" placeholder="Ingresá tu nombre">
                        <br>
                        <label for="inputEmail">Correo Electrónico:</label>
                        <br>
                        <input type="email" name="email" id="inputEmail" placeholder="Ingresá tu email"><br>
                        <small style="color: red;">
                            <%= (typeof errors !='undefined' && errors.email) ? errors.email.msg : '' %>
                        </small>
                        <br>
                        <label for="controlFile">Subí tu Foto</label>
                        <br>
                        <input type="file" name="avatar" id="controlFile" class="inputFoto">
                        <br>
                        <label for="inputPassword">Contraseña:</label>
                        <br>
                        <input type="password" name="password" id="inputPassword" placeholder="Ingresá tu contraseña"><br>
                        <small style="color: red;">
                            <%= (typeof errors !='undefined' && errors.password) ? errors.password.msg : '' %>
                        </small>
                        <br>
                        <label for="inputPassword">Confirma tu contraseña:</label>
                        <br>
                        <input type="password" name="password" id="confirmaPassword" placeholder="Confirma tu contraseña"><br>
                    </div>
                    <button type="submit">Confirmar</button>
                </form>
            </div>
            <script src="/js/validaciones.js"></script>
    </body>
    
</html>