<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs", {Solapa:"Register"}) %>

    <body>
        <%- include("./partials/headerGeneral.ejs") %>

            <div class="register">
                
                <form action="" method="POST" enctype="multipart/form-data">
                    <h1 class="h1">Registrate</h1>
                    <!-- si no le pongo nada en action quiere decir que esta viajando a /register y el enctype multipartes sirve para cuando tenemos que subir un archivo de tipo file y multer le dice a express que hacer con este tipo de formularios -->
                    <div class="formularioRegister">
                        <label for="imputName">Nombre:</label>
                        <br>
                        <input type="text" name="name" id="imputName" placeholder="Ingresá tu nombre">
                        <br>
                        <label for="imputEmail">Correo Electrónico:</label>
                        <br>
                        <input type="email" name="email" id="imputEmail" placeholder="Ingresá tu email"><br>
                        <small style="color: red;">
                            <%= (typeof errors !='undefined' && errors.email) ? errors.email.msg : '' %>
                        </small>
                        <label for="controlFile">Subí tu Foto</label>
                        <br>
                        <input type="file" name="foto" id="controlFile" class="inputFoto">
                    
                        <label for="inputPassword">Contraseña:</label>
                        <br>
                        <input type="password" name="password" id="inputPassword" placeholder="Ingresá tu contraseña"><br>
                        <small style="color: red;">
                            <%= (typeof errors !='undefined' && errors.password) ? errors.password.msg : '' %>
                        </small>
                        <label for="inputPassword">Confirma tu contraseña:</label>
                        <br>
                        <input type="password" name="password" id="inputPassword" placeholder="Confirma tu contraseña"><br>
                    </div>
                    <button type="submit">Confirmar</button>
                </form>
            </div>
    </body>

</html>