<footer>
    <section class="footerWhite">
        <hr>
        <div class="informacion">
            <div class="cuotas"><i class="fa fa-credit-card"></i>
                <h2 class="display">Hasta 18 cuotas sin interés</h2>
            </div>
            <div class="consultas"><i class="fa fa-whatsapp"></i>
                <h2 class="display">Consultas</h2>
            </div>
            <div class="cambios"><i class="fa fa-retweet"></i>
                <h2 class="display">Tienes 30 días para cambios</h2>
            </div>
            <div class="redes"><i class="fa fa-facebook"></i><i class="fa fa-instagram"></i>
                <h2 class="display">Seguinos en redes</h2>
            </div>
        </div>
        <hr>
    </section>

    <section class="footerBlack">
        <div>
            <form action="" method="post">
                <input class="newsletterInput" type="text" value="NEWSLETTER">
                <button class="newsletter" type="submit">Suscribirse</button>
            </form>
        </div>
        <img src="/img/img-logo.svg" alt="logo de la marca">
        <div class="iconosFooter">
            <ul class="whiteIcons">
                <li>
                    <h3>Términos y Condiciones</h3>
                </li>
                <div class="iconosFooter">
                <li><i class="fa fa-whatsapp"></i></li>
                <li><i class="fa fa-instagram"></i></li>
                <li><i class="fa fa-facebook"></i></li>
                </div>
            </ul>
        </div>
    </section>
</footer>