<footer>
    <section class="footerWhite">
        <hr>
        <div class="informacion">
            <div class="cuotas"><i class="fa fa-credit-card"></i>
                <h2 class="display">Hasta 18 cuotas sin interés</h2>
            </div>
            <div class="cambios"><i class="fa fa-retweet"></i>
                <h2 class="display">Tienes 30 días para cambios</h2>
            </div>
            <div class="consultas">
                <h2 class="display">Nuestros Locales</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.636541019768!2d-3.7056720846040694!3d40.416901879365064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422880a07d7dc7%3A0x694aee57da1dc679!2sPuerta%20del%20Sol%2C%20Madrid%2C%20Espa%C3%B1a!5e0!3m2!1ses-419!2sar!4v1619286706315!5m2!1ses-419!2sar" width="210" height="130" style="border-radius: 15px;" allowfullscreen="" loading="lazy"></iframe></i>
               
            </div>
            
            
            <div class="contenedor-redes-sociales">
                <h2 class="display">Seguinos en redes</h2>
                <a class="facebook" href="https://www.facebook.com" target="_blank">
                    <span class="circulo"><i class="fa fa-facebook"></i></span>
                    <span class="titulo">Facebook</span>
                    <span class="titulo-hover">Seguir</span>
                </a>
       
               <a class="twitter" href="https://www.instagram.com" target="_blank">
                   <span class="circulo"><i class="fa fa-instagram"></i></span>
                   <span class="titulo">Instagram</span>
                   <span class="titulo-hover">Seguir</span>
               </a>
       
               <!-- <a class="gplus" href="https://plus.google.com/114090693030000856714" target="_blank">
                   <span class="circulo"><i class="fa fa-google-plus"></i></span>
                   <span class="titulo">Google+</span>
                   <span class="titulo-hover">Seguir</span>
               </a> -->
           </div>
            <!-- <div class="redes"><i class="fa fa-facebook"></i><i class="fa fa-instagram"></i> -->
               
            </div>
        </div>
        <hr>
    </section>

    <section class="footerBlack">
        <div>
            <form action="" method="post">
                <input class="newsletterInput" type="text" value="NEWSLETTER">
                <button class="newsletter" type="submit">Suscribirse</button>
            </form>
        </div>
        <img src="/img/img-logo.svg" alt="logo de la marca">
        <div class="iconosFooter">
            <ul class="whiteIcons">
                <li>
                    <h3>Términos y Condiciones</h3>
                </li>
                <div class="iconosFooter">
                <li><i class="fa fa-whatsapp"></i></li>
                <li><i class="fab fa-github"></i></li>
                <li><i class="fab fa-facebook"></i></li>
                </div>
            </ul>
        </div>
    </section>
</footer>