<header class="fondoBlancoHeader">
    <div class="promo">
        <h3>Ejemplo promo 50% descuento en envíos</h3>
    </div>
    <div class="promo ocultar">
        <h3>vive en paz con tu esencia</h3>
    </div>
    <div class="promo ocultar">
        <h3>libre de etiquetas</h3>
    </div>
    <div class="menuFondoBlanco">
        <a href="/"><img style="height: 20px;"  class="logoDark" src="/img/EPICENE.png" alt=""></a>
        <nav class="navFondoBlanco">
            <ul>
                <li>
                    <form class="formSearch" action="/products/search" method="GET">
                        <div class="button-search">
                            <input type="search" id="search" value=<%= (typeof search != 'undefined')? search : null %> />
                        </div>
                        <div class="icono-search">
                            <button type="submit"><a href="/products/search"><i class="fa fa-search fa-lg icono-search"></i></a></button>
                        </div>
                    </form>
                </li>
                <li><a href="/products/cart"><i class="fa fa-shopping-cart fa-lg"
                            aria-hidden="true"></i></a></li>
                <% if(typeof user == "undefined") { %>
                <li><a class="inicio" href="/user/login">Iniciar sesión</a></li>
            <% } else if(user.admin == 1) { %>
                    <li><a href="/admin" title="Configuración del sitio">HOLA ADMIN</a></li>
                <% } else if(user.admin == 0) { %>
                    <li><a href="#" title="Configuración del sitio">HOLA <%= user.name %></a></li>
                <% } %> 
            </ul>
        </nav>
    </div>
</header>