<header class="fondoBlancoHeader">
    <div class="promo">
        <h3>promo 50% descuento en envíos</h3>
    </div>
    <div class="promo ocultar">
        <h3>vive en paz con tu esencia</h3>
    </div>
    <div class="promo ocultar">
        <h3>libre de etiquetas</h3>
    </div>
    <div class="menuFondoBlanco">
        <a href="/"><img style="height: 20px;" class="logoDark" src="/img/EPICENE.png" alt="logo-dark"></a>
    
        <nav class="navFondoBlanco">
            <ul>
                <li>
                    <form class="formSearch" action="/products/search" method="">
                        <div class="button-search">
                            <input type="search" id="search" value="Buscar..." />
                        </div>
                        <div class="icono-search">
                            <button type="submit"><a href="/products/search" title="buscar"><i
                                        class="fa fa-search fa-lg icono-search"></i></a></button>
                        </div>
                    </form>
                </li>
                <li><a href="/products/cart" title="Carrito de compras"><i class="fa fa-shopping-cart fa-lg"
                            aria-hidden="true"></i></a></li>
    
                <% if(typeof user=="undefined" ) { %>
                    <li><a class="inicio" href="/user/login" title="Iniciar sesión"><i
                                class="fas fa-user-circle fa-lg"></i></a></li>
                    <% } else if(user.admin==1) { %>
                        <li><a href="/admin" title="Configuración del sitio">HOLA ADMIN</a>
                            <br>
                            <a href="/admin/logout">CERRAR SESIÓN</a>
                        </li>
                        <% } else if(user.admin==0) { %>
                            <li><a href="/user/perfil/<%= user.id %>" title="Tu perfil">HOLA <%= user.name %>
                                        </a>
                                <br>
                                <a href="/user/logout" title="Cerrar Sesión">CERRAR SESIÓN</a>
                            </li>
                        <% } %>
            </ul>
        </nav>
    </div>
</header>