<header>
    <div class="promo">
        <h3>Ejemplo promo 50% descuento en envíos</h3>
    </div>
    <div class="imagen">
        <nav class="index">
            <ul>
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                <li><a href="#">Iniciar sesión</a></li>
            </ul>
        </nav>
        <img class="img-header" src="/img/img-header.jpg" alt="banner ropa unisex">
    </div>
</header>