<header class="fondoBlancoHeader">
    <div class="promo">
        <h3>Ejemplo promo 50% descuento en envíos</h3>
    </div>
    <div class="menuFondoBlanco">
        <a href="http://localhost:3000/"><img class="logoDark" src="/img/img-logoDark.svg" alt=""></a>
        <nav class="navFondoBlanco">
            <ul>
                <li>
                    <form class="formSearch" action="" method="GET">
                        <div class="button-search">
                            <input type="text" id="search" placeholder="Buscar..." />
                        </div>
                        <div class="icono-search">
                            <button type="search"><a href="#"><i class="fa fa-search fa-lg"></i></a></button>
                        </div>
                    </form>
                </li>
                <li><a href="http://localhost:3000/products/productCart"><i class="fa fa-shopping-cart fa-lg"
                            aria-hidden="true"></i></a></li>
                <li><a class="inicio" href="http://localhost:3000/user/login">Iniciar sesión</a></li>
            </ul>
        </nav>
    </div>
</header>