<header>
    <div class="promo">
        <h3>Ejemplo promo 50% descuento en envíos</h3>
    </div>
    <div class="imagen">
        <nav class="index">
            <ul>
                <li>
                    <form class="formSearch" action="" method="GET">
                        <div class="button-search">
                            <input type="text" id="search" placeholder="Buscar..." />
                        </div>
                        <div class="icono-search">
                            <button type="search"><a href="#"><i class="fa fa-search fa-lg"></i></a></button>
                        </div>
                    </form>
                </li>
                <li><a href="http://localhost:3000/products/productCart"><i class="fa fa-shopping-cart fa-lg"
                            aria-hidden="true"></i></a></li>
                <li><a class="inicio" href="http://localhost:3000/user/login">Iniciar sesión</a></li>
            </ul>
        </nav>
        <div class="fixed">
            <h4>SCROLL</h4>
            <i class="fa fa-chevron-down fa-3x"></i>
        </div>
        <a href="http://localhost:3000/index"><img class="img-header" src="/img/img-header.jpg"
                alt="banner ropa unisex"></a>

    </div>
</header>