<header>
    <div class="promo">
        <h3>Ejemplo promo 50% descuento en envíos</h3>
    </div>
    <div class="promo ocultar">
        <h3>vive en paz con tu esencia</h3>
    </div>
    <div class="promo ocultar">
        <h3>prendas que te representan</h3>
    </div>
    <nav class="index">
        <ul>
            <li>
                <form class="formSearch" action="/products/search" method="">
                    <div class="button-search">
                        <input type="text" id="search" value="Buscar..." />
                    </div>
                    <div class="icono-search">
                        <button type="submit"><a href="#"><i class="fa fa-search fa-lg icono-search"></i></a></button>
                    </div>
                </form>
            </li>
            <li><a href="/products/cart"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></li>
            
            <% if(typeof usuarioLogueado == "undefined") { %>
                <li><a class="inicio" href="/user/login">Iniciar sesión</a></li>
            <% } else if(usuarioLogueado.admin == 1) { %>
                    <li><a href="/admin" title="Configuración del sitio">ADMIN</a></li>
                <% } else if(usuarioLogueado.admin == 0) { %>
                    <li><a href="#" title="Configuración del sitio">HOLA <%= usuarioLogueado.name %></a></li>
                <% } %> %>
                
            </ul>
    </nav>

    <div id="contenido">
        <% if(typeof usuarioLogueado == "undefined") { %>
            <a class="productos" href="/products/all">
                <img class="hanger" src="/img/hanger.svg" alt="menu desplegable">
                <h4 class="p">PRODUCTOS</h4>
    <% } else if(usuarioLogueado.admin == 1) { %>
        <a class="productos" href="/admin/config">
            <img class="hanger" src="/img/hanger.svg" alt="menu desplegable">
            <h4 class="p">PRODUCTOS</h4>
        <% } else if(usuarioLogueado.admin == 0) { %>
            <a class="productos" href="/products/all">
                <img class="hanger" src="/img/hanger.svg" alt="menu desplegable">
                <h4 class="p">PRODUCTOS</h4>
        <% } %> %>
        
        </a>

        <img class="img-header" src="/img/headermeli.png" alt="banner ropa unisex">
        <div class="fixed">
            <h4>SCROLL</h4>
            <i class="fa fa-chevron-down fa-3x"></i>
        </div>
    </div>
</header>